.note-task{
  padding: 6px 5px;
}
.date-picker-right{
  .react-date-picker__calendar {
    right: 0 !important;
    left: auto !important;
  }
  .form-control{
    padding-left: 0;
    padding-right: 0;
  }
}
.scan-orderid{
  height: 42px;
  border: 2px solid #d6d6d6!important;
  &:focus{
    border-color: #66afe9!important;
  }
}
.btn-scan{
  height: 42px;
  font-size: 18px !important;
  border: 2px solid #d6d6d6;
  border-left: 1px solid #d6d6d6;
  i{
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
.clear-text{
  height: 42px;
  width: 100%;
}
.tbl-create-tasks{
  tr:last-child{
    td{
      border-bottom: 1px solid #e6e6e6;
    }
  }
}
.task-batches-title{
  padding-bottom: 10px;
  font-weight: 600;
  border-bottom: 1px solid #e6e6e6;
}
.task-batches-items{
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
}
