.sort-time1 {
  > label{
    height: 31px;
}
}
.small-select {
  .Select-control{
    height: 31px!important;
  }
  .Select-value {
    line-height: 31px !important;
  }
  .Select-input{
    height: 31px;
  }
}
.react-defaul {
  border: 1px solid #ddd;
}
