@import "colors";

.lbl-style{
  border-radius: 15px;
}
.width-100{
  width: 100%!important;
}
.width-10{
  width: 10%;
}
.width-20{
  width: 20%;
}
a.link-user-pages{
  color: #c4c4ff;
  &:hover{
    color: #fff;
  }
}
.input-strength{
  border-color: #d5d5d5;
  border-width: 2px;
}
.input-required{
  position: relative;
  span.required-symbol{
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 17px;
    color: red;
  }
}
//nav-tabs
.tab-content{
  padding: 20px 15px;
}
.nav-tabs>li {
  padding-left: 0;
  padding-right: 0;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
  border-color: #e6e6e6;
  color: $text-color-main;
  opacity: 1;
  background-color: #e6e6e6;
}
.nav-tabs>li>a {
  border-radius: 0;
  padding: 15px 20px;
  margin-right: 0;
  color: $text-color-main;
  opacity: 0.7;
  min-width: 70px;
  border-color: transparent;
}
.nav-tabs>li>a:hover,
.nav-tabs>li>a:focus {
  background: transparent;
  border-color: transparent;
  opacity: 1;
}
.nav-tabs>li>a .tab-icon {
  margin-right: 6px;
}
.nav-tabs~.tab-content {
  overflow: hidden;
  padding: 15px;
}
.nav-tabs.nav-tabs-left:after{
  border-bottom: 0px;
}
.nav-tabs.nav-tabs-left>li{
  float: none;
}
.nav-tabs.nav-tabs-left {
  float: left;
  padding-right: 0;
}
.nav-tabs.nav-tabs-left~.tab-content {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.nav-tabs-simple {
  border-bottom: 0px;
}
.nav-tabs-simple:after {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  position: relative;
  bottom: 3px;
  z-index: 120;
}
.nav-tabs-simple>li {
  margin-bottom: 0;
}
.nav-tabs-simple>li:after {
  -webkit-transition: all 0.1s linear 0s;
  transition: all 0.1s linear 0s;
  -webkit-backface-visibility: hidden;
  width: 100%;
  display: block;
  background-color: #3C8DBC;
  height: 0px;
  content: '';
  z-index: 125;
}
.nav-tabs-primary.nav-tabs-simple>li:after {
  background-color: #6d5cae;
}
.nav-tabs-success.nav-tabs-simple>li:after {
  background-color: #10cfbd;
}
.nav-tabs-complete.nav-tabs-simple>li:after {
  background-color: #48b0f7;
}
.nav-tabs-danger.nav-tabs-simple>li:after {
  background-color: #f55753;
}
.nav-tabs-warning.nav-tabs-simple>li:after {
  background-color: #f8d053;
}
.nav-tabs-info.nav-tabs-simple>li:after {
  background-color: #3b4752;
}
.nav-tabs-simple>li.active a,
.nav-tabs-simple>li.active a:hover,
.nav-tabs-simple>li.active a:focus {
  background-color: transparent;
  border-color: transparent;
}
.nav-tabs-simple>li.active:after,
.nav-tabs-simple>li:hover:after {
  height: 4px;
}
.nav-tabs-simple.nav-tabs-left:after{
  border-bottom: 0px;
}
.nav-tabs-simple.nav-tabs-left>li:after{
  width: 0px;
  height: 100%;
  top: 0;
  bottom: 0;
  position: absolute;
}
.nav-tabs-simple.nav-tabs-left>li.active:after,
.nav-tabs-simple.nav-tabs-left>li:hover:after{
  width: 3px;
}
.nav-tabs-simple.nav-tabs-left>li:after {
  right: 0;
}
.nav-tabs-linetriangle {
  border-bottom: 0;
}
.nav-tabs-linetriangle:after {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  position: relative;
  bottom: 0;
}
.nav-tabs-linetriangle>li.active>a {
  background: transparent;
  box-shadow: none;
  border-color: transparent;
}
.nav-tabs-linetriangle>li.active>a:hover,
.nav-tabs-linetriangle>li.active>a:focus,
.nav-tabs-linetriangle>li.active>a:active {
  border-color: transparent;
  background-color: transparent;
}
.nav-tabs-linetriangle>li.active>a:after,
.nav-tabs-linetriangle>li.active>a:before {
  border: medium solid transparent;
  content: "";
  height: 0;
  left: 50%;
  pointer-events: none;
  position: absolute;
  width: 0;
  z-index: 1;
  top: 100%;
}
.nav-tabs-linetriangle>li.active>a:after {
  border-top-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}
.nav-tabs-linetriangle>li.active>a:before {
  border-top-color: rgba(0, 0, 0, 0.2);
  border-width: 11px;
  margin-left: -11px;
}
.nav-tabs-linetriangle>li>a span {
  font-size: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.nav-tabs-linetriangle>li>a,
.nav-tabs-linetriangle>li>a:hover,
.nav-tabs-linetriangle>li>a:focus {
  overflow: visible;
  -webkit-transition: color 0.2s ease 0s;
  transition: color 0.2s ease 0s;
}
.nav-tabs-linetriangle~.tab-content {
  background: #fff;
}
@media screen and (max-width: 58em) {
  .nav-tabs-linetriangle {
    font-size: 0.6em;
  }
}
.nav-tabs-fillup {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 1000;
}
.nav-tabs-fillup>li {
  overflow: hidden;
}
.nav-tabs-fillup>li>a {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  background: transparent;
}
.nav-tabs-fillup>li>a:after {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  background: none repeat scroll 0 0 #10cfbd;
  border: 1px solid #10cfbd;
  content: "";
  height: calc(100% + 1px);
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transform: translate3d(0, 100%, 0px);
  transform: translate3d(0, 100%, 0px);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  width: 100%;
  z-index: -1;
}
.nav-tabs-primary.nav-tabs-fillup>li>a:after {
  background: none repeat scroll 0 0 #6d5cae;
  border: 1px solid #6d5cae;
}
.nav-tabs-success.nav-tabs-fillup>li>a:after {
  background: none repeat scroll 0 0 #10cfbd;
  border: 1px solid #10cfbd;
}
.nav-tabs-complete.nav-tabs-fillup>li>a:after {
  background: none repeat scroll 0 0 #48b0f7;
  border: 1px solid #48b0f7;
}
.nav-tabs-warning.nav-tabs-fillup>li>a:after {
  background: none repeat scroll 0 0 #f8d053;
  border: 1px solid #f8d053;
}
.nav-tabs-danger.nav-tabs-fillup>li>a:after {
  background: none repeat scroll 0 0 #f55753;
  border: 1px solid #f55753;
}
.nav-tabs-info.nav-tabs-fillup>li>a:after {
  background: none repeat scroll 0 0 #3b4752;
  border: 1px solid #3b4752;
}
.nav-tabs-fillup>li>a span {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0px, 5px, 0px);
  transform: translate3d(0px, 5px, 0px);
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  display: block;
  font-weight: 700;
  line-height: 1.5;
}
.nav-tabs-fillup>li.active {
  z-index: 100;
}
.nav-tabs-fillup>li.active>a,
.nav-tabs-fillup>li.active>a:hover,
.nav-tabs-fillup>li.active>a:focus {
  border-color: transparent;
  background: transparent;
  color: #fff;
}
.nav-tabs-fillup>li.active>a:after {
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate(0px, 0px);
}
.nav-tabs-fillup>li.active>a span {
  -webkit-transform: translate3d(0px, -5px, 0px);
  transform: translate3d(0px, -5px, 0px);
  -ms-transform: translate(0px, -5px);
}
.nav-tabs-fillup>li.active .icon:before {
  -webkit-transform: translate3d(0px, -5px, 0px);
  transform: translate3d(0px, -5px, 0px);
  -ms-transform: translate(0px, -5px);
}
.nav-tabs-fillup .icon:before {
  -webkit-transform: translate3d(0px, 5px, 0px);
  transform: translate3d(0px, 5px, 0px);
  -ms-transform: translate(0px, 5px);
  -webkit-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  display: block;
  margin: 0;
}
//table
.tbl-headblue{
  thead{
    background: $tbl-head-blue;
    > tr{
      > th{
        color: #fff!important;
        border-bottom: 0;
        vertical-align: middle;
      }
    }
  }
  tbody{
    > tr{
      &:first-child{
        > td{
          .form-group{
            margin-bottom: 0;
          }
          .form-control{
            padding: 7px;
          }
        }
      }
      &:last-child{
        > td{
          border-bottom: 1px solid #ddd;
        }
      }
      &:hover{
        > td{
          background-color: #FEF3C6;
        }
      }
      > td{
        vertical-align: middle;
        span.label{
          font-size: 90%;
        }
      }
    }
  }
}
.tbl-headred{
  thead{
    background: $tbl-head-red;
    > tr{
      > th{
        color: #fff!important;
        border-bottom: 0;
      }
    }
  }
  tbody{
    tr{
      &:last-child{
        td{
          border-bottom: 1px solid transparent;
        }
      }
      &:hover{
        td{
          border-top: 1px solid $tbl-head-red!important;
          border-bottom: 1px solid $tbl-head-red;
        }
      }
    }
  }
}
.user-status{
  > label{
    height: 34px;
    > input[type="checkbox"]{
      position: absolute;
      clip: rect(0, 0, 0, 0);
      pointer-events: none;
    }
    > input[type="radio"]{
      position: absolute;
      clip: rect(0, 0, 0, 0);
      pointer-events: none;
    }
  }
}
.form-error{
  > h1{
    font-size: 130px;
  }
  .btn{
    width: 200px;
    margin:0 auto;
  }
}
.breadcrumb{
  background: transparent;
  padding: 8px 0;
}

//.confirm-holder .confirm
.confirm-holder .confirm{
  width: 500px !important;
  left: 45% !important;
}
ul.pagination{
  > li{
    cursor: pointer;
  }
}

.has-success .form-control{
  border: 1px solid #e6e6e6;
}

.has-success .checkbox, .has-success .checkbox-custom, .has-success .checkbox-inline, .has-success .control-label, .has-success .help-block, .has-success .radio, .has-success .radio-custom, .has-success .radio-inline, .has-success.checkbox label, .has-success.checkbox-inline label, .has-success.radio label, .has-success.radio-inline label{
  color: #032d3e;
}
.control-label{
  color: #032d3e!important;
}

.control-select-small{
  .Select-control{
    line-height: 24px;
    height: 24px;
    .Select-value{
      line-height: 24px!important;
    }
  }
  .Select-placeholder{
    line-height: 24px;
  }
  .Select-input{
    height: 24px;
    input{
      padding: 3px 12px 3px 0;
    }
  }
}
.control-datetime-small{
  input{
    height: 28px;
  }
  .btn-daterangepicker{
    height: 28px!important;
  }
}
.react-tabs [role=tab]:focus{
  box-shadow: none;
  &:after{
    background: transparent!important;
  }
}