@import "colors";

.pagination{
  border-radius: $border-radius;
}
.pagination > li:first-child > a, .pagination > li:first-child > span{
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.pagination > li:last-child > a, .pagination > li:last-child > span{
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}