@import "colors";

.sort-time{
  > label{
    height: 28px;
    padding: 4px 12px;
    > input[type="checkbox"]{
      position: absolute;
      clip: rect(0, 0, 0, 0);
      pointer-events: none;
    }
    > input[type="radio"]{
      position: absolute;
      clip: rect(0, 0, 0, 0);
      pointer-events: none;
    }
  }
}
.small-select {
  width: 130px;
  margin-right: 5px;
  .Select-control{
    height: 28px!important;
    border: none;
    &:hover{
      box-shadow: none;
    }
    .Select-value{
      line-height: 28px!important;
      border: 1px solid #ddd;
      border-radius: $border-radius;
    }
  }
  .Select-input{
    height: 28px;
  }
  .Select-placeholder{
    line-height: 28px;
  }
}
.small-datetime-picker{
  border: 1px solid #e6e6e6;
  margin-right: 5px;
  border-radius: $border-radius;
  input{
    height: 26px;
    padding: 3px;
  }
  .react-date-picker__calendar {
    right: 0 !important;
    left: auto !important;
  }
}
.Select-outer-menu{
  z-index: 9999;
}