@import "colors";

.opt-cod{
  .form-group{
    margin-bottom: 0;
  }
  .input-cod{
    width: 100px;
    float: left;
    margin-left: 5px;
    height: 36px;
  }
}
.task-time{
  input{
    height: 36px;
  }
  .btn-daterangepicker{
    height: 36px!important;
  }
}
.height-36{
  height: 36px;
}
.status-task{
  width: 150px;
  float: left;
  font-size: $font-size-main;
}
.assign-task{
  width: 250px;
  float: right;
  font-size: $font-size-main;
}
.wbreak{
  word-break: break-all;
}
.img-style{
  background-position: center;
  background-size: 100px 100px;
  width:100px;
  height: 100px;
  float: left;
  margin-right: 10px;
}
.vertop{
  vertical-align: top;
}

.order-checked{
  line-height: 36px;
  margin-right: 15px;
}
.task-items{
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid #e6e6e6;
  &:first-child{

  }
}