.input-edit{
  position: relative;
  .editing{
    height: 32px;
    background: #fff;
    z-index: 1;
    margin-left: 7px;

  }
  span{
    display: inline-block;
    margin-left: 7px;
    height: 32px;
    line-height: 32px;
    cursor: pointer;
    &:after{
      margin-left: 30px;
      content: '\e61c';
      font-family: 'themify';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
}