$font-main: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
//$font-main: "Segoe UI", 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size-main: 14px;
$font-size-small: 12px;
//$font-size-h1: 28px;
//$font-size-h2: 19.8px;
//$font-size-h3: 16.2px;
//$font-size-h4: 14px;
//$font-size-h5: 12.5px;
//$font-size-h6: 11.4px;
$text-color-main: #032d3e;
$tbl-head-blue: #3C8DBC;
$tbl-head-red: #F70600;
$color-blue: #337ab7;
$border-radius: 2px;
