$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import "../../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


.login_layout{
  background: url('img/17.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.pg-login{


  &-header {
      display: block;
      min-height: 2rem;
      order: 1;
  }

  &-main {
      display: block;
      order: 2;
      flex-grow: 1;
  }

  &-footer {
      display: block;
      min-height: 2rem;
      //background-color: $color-secondary-2-4;
      order: 3;
  }
}