.modal-detail-request{
  .modal-header{
    padding-left: 25px;
    select.form-control{
      width: auto;
      float: left;
      margin-right: 7px;
    }
  }
  .modal-body{
    padding: 15px 20px;
    table{
      width: 100%;
      tbody{
        tr{
          td{
            padding: 7px 3px;
            border-bottom: 1px solid #f4f4f4;
            @media screen and (min-width: 480px) {
              .request-notes{
                height: 82px;
              }
              .btn-create-request{
                margin-top: 49px;
              }
            }
          }
          &:last-child{
            td{
              border-bottom: none;
              .form-control{
                width: 100%;
              }
            }
          }
        }
        tr.order-disable{
          td{
            color: #797979!important;
            a{
              color: #797979!important;
            }
          }
        }
      }
    }
  }
}

.logistic-list{
  width: 300px;
  margin: 0 5px;
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  padding: 5px;

  &:first-child {
    margin-left: 10px
  }

  &:last-child {
    margin-right: 10px
  }

  .logistic-items{
    background: #fff;
    position: relative;
    padding: 6px 6px 2px 8px;
    margin-bottom: 7px;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    .request-time{
      position: absolute;
      top: 5px;
      right: 5px;
    }
    p{
      margin-bottom: 0;
    }
    &:hover{
      background: #f8f8f8;
    }
  }
  @media all and (min-width: 481px) and (max-width: 768px) {
    width: 50%;
  }
  @media all and (max-width: 480px) {
    width: 100%;
  }
}

.board-wrapper {
  position: absolute;
  left: 50px;
  right: 15px;
  top: 50px;
  bottom: 0;
}
.board-main-content {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: 0;
  -webkit-transition: margin .1s ease-in;
  transition: margin .1s ease-in
}
.board-main-content,
.list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal
}
.board-header {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  height: auto;
  overflow: hidden;
  padding: 0 0 0 15px;
  position: relative;
  -webkit-transition: padding .1s ease-in;
  transition: padding .1s ease-in;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;

  ol.breadcrumb{
    margin: 7px 0;
  }
}
.board-canvas {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1
}

.list {
  border-bottom: 1px solid #ddd;
  border-top: 4px solid #ddd;
  padding-bottom: 7px;
  background: #E2E4E6;
  border-radius: 3px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  max-height: 100%;
  position: relative;
  white-space: normal;
  -moz-box-sizing: border-box
}
.list-header {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: 8px 10px;
  position: relative;
  min-height: 18px;
  font-size: 16px;
  font-weight: 600;
}
.list-cards {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 4px;
  padding: 0 4px;
  z-index: 1;
  min-height: 0
}
.list-cards::-webkit-scrollbar-button:end {
  display: block;
  height: 4px;
  width: 4px
}
.list-card {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 6px;
  min-height: 20px;
  position: relative;
  z-index: 0
}
.list-card-details {
  overflow: hidden;
  padding: 6px 0px 2px 0px;
  position: relative;
  z-index: 10
}
.list-card-title {
  clear: both;
  display: block;
  font-weight: 400;
  margin: 0 0 4px;
  overflow: hidden;
  text-decoration: none;
  word-wrap: break-word
}
.list-card-title::-moz-selection {
  background: 0 0
}
.list-card-title::selection {
  background: 0 0
}
#board {
  user-select: none;
  white-space: nowrap;
  margin-bottom: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 10px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#board::-webkit-scrollbar {
  height: 9px;
  width: 9px
}
#board::-webkit-scrollbar-thumb:horizontal,
#board::-webkit-scrollbar-thumb:vertical {
  background: rgba(0, 0, 0, .2)
}
#board::-webkit-scrollbar-track-piece {
  background: rgba(255, 255, 255, .1)
}
#board::-webkit-scrollbar-button {
  display: block;
  height: 5px;
  width: 5px
}
@media print {
  .board-wrapper {
    top: auto!important;
    bottom: auto!important;
    left: auto!important;
    right: auto!important;
    overflow: visible;
    position: relative
  }
  body {
    overflow: visible!important
  }
  .board-main-content {
    display: block!important;
    margin-right: 0
  }
  #board {
    height: auto!important;
    margin-left: 8px!important;
    overflow: visible!important;
    position: relative!important;
    display: block!important
  }
  .list,
  .list-wrapper {
    height: auto!important;
    margin-bottom: 1pc;
    max-height: none!important
  }
  .list,
  .list-cards,
  .list-wrapper {
    max-height: none!important
  }
}
.pt-scrollbar::-webkit-scrollbar {
  height: 7px;
  width: 7px
}
.pt-scrollbar::-webkit-scrollbar-button:end:increment,
.pt-scrollbar::-webkit-scrollbar-button:start:decrement {
  background: 0 0;
  display: none
}
.pt-scrollbar::-webkit-scrollbar-track-piece {
  background: #D6DADC
}
.pt-scrollbar::-webkit-scrollbar-track-piece:vertical:start {
  border-radius: 5px 5px 0 0
}
.pt-scrollbar::-webkit-scrollbar-track-piece:vertical:end {
  border-radius: 0 0 5px 5px
}
.pt-scrollbar::-webkit-scrollbar-track-piece:horizontal:start {
  border-radius: 5px 0 0 5px
}
.pt-scrollbar::-webkit-scrollbar-track-piece:horizontal:end {
  border-radius: 0 5px 5px 0
}
.pt-scrollbar::-webkit-scrollbar-thumb:horizontal,
.pt-scrollbar::-webkit-scrollbar-thumb:vertical {
  background: #C4C9CC;
  border-radius: 5px;
  display: block;
  height: 50px
}
body,
html {
  height: 100%
}
@media only screen and (max-width: 750px) {
  .pt-scrollbar {
    -webkit-overflow-scrolling: initial
  }
}
.logistic-wait{
  .list{
    border-top-color: #FFB61E;
  }
}
.logistic-process{
  .list{
    border-top-color: #0FB3FF;
  }
}
.logistic-success{
  .list{
    border-top-color: #17A88B;
  }
}
.logistic-fail{
  .list{
    border-top-color: #9A9A9A;
  }
}
.logistic-cancel{
  .list{
    border-top-color: #E5343D;
  }

}
.list-card-storage{
  opacity: 0.3;
}