.tbl-barcode{
  border: 1px solid #ddd;
  tbody{
    tr{
      td{
        vertical-align: middle;
      }
      &:first-child{
        background: #ddd;
        td{
          padding: 20px 5px;
          .form-control{
            height: 40px;
            border: 2px solid #c1c1c1;
            &:focus{
              border-color: #66afe9;
              outline: 0;
              -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
              box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
            }
          }
        }
      }
    }
  }

}