.label.logistic-cancel{
  background-color: #E5343D;
}
.label.logistic-process{
  background-color: #5bc0de;
}
.label.logistic-wait{
  background-color: #FFB61E;
}
.label.logistic-success{
  background-color: #17A88B;
}
.label.logistic-fail{
  background-color: #9a9a9a;
}