@import "colors";

.btn-confirm-toast{
  width: 100%;
  height: 70px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #eee;
  button.btn{
    width: 100px !important;
    height: 40px!important;
    margin-right: 15px!important;
    float: right!important;
    display: inline-block;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    border: 1px solid #eee!important;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  button.btn.btn-primary{
    color: #FFF;
    background-color: $color-blue;
    border-color: $color-blue;
    &:hover, &:focus{
      background-color: #286090;
      border-color: #204d74;
    }
  }
}