@import "colors";

.btn-daterangepicker{
  height: 34px;
  padding: 6px!important;
}
input.input-balance{
  width: 110px;
}
.tab-balance{
  border-bottom: 1px solid #ddd!important;
  > li{
    border-radius: 0!important;
    padding: 15px 20px!important;
    margin-right: 0;
    color: #032d3e!important;
    opacity: 0.7;
    font-weight: 600;
    min-width: 70px;
    border: 0!important;
    border-bottom: 3px solid transparent!important;
  }
  > li[role=tab][aria-selected=true], > li:hover{
    border: 0!important;
    border-bottom: 3px solid $color-purple!important;
    opacity: 1;
  }
}
.pt-search-input{
  ul{
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-top: -2px;
    padding-top: 0;
    border: 1px solid #66afe9;
  }
}