@import "colors";

.code-notes, .pt-input-notes{
  width: 100%;
  width: -webkit-calc(100% - 30px);
  width: -moz-calc(100% - 30px);
  width: calc(100% - 30px);
  float: left;
}
.pt-input-notes{
  position: relative;
  .currency-symbol{
    position: absolute;
    top: 7px;
    right: 5px;
  }
}

i.lh-34{
  line-height: 34px;
  opacity: 0.7;
  &:hover{
    opacity: 1;
  }
}
ul.orders-status{
  padding-left: 0;
  list-style: none;
  margin-bottom: 25px;
  > li{
    display: inline-block;
    margin-right: 30px;
    > div{
      padding: 0 0 7px 0;
      border-bottom: 3px solid transparent;
      margin-bottom: 15px;
      .text-status{
        color: $text-color-main;
        text-transform: uppercase;
        font-weight: 600;
      }
      .label{
        font-size: 90%;
        padding: 1px 5px;
        margin-left: 5px;
      }
      &:hover, &:active, &.active{
        border-bottom: 3px #605CA8 solid;
        cursor: pointer;
        span.text-status{
          color: #3c3c91;
        }
      }
    }
    > div.disabled{
      cursor: not-allowed;
    }
  }
}
.opt-search-time{
  width: auto;
  margin-right: 5px;
}
.box-search-order{
  padding-top: 15px;
  margin-bottom: 15px;
  background: #FAFAFA;
}
.navbar-custom-menu{
  > ul.nav{
    > li{
      a.btn{
        color: #fff!important;
        padding: 5px 10px;
        margin-top: 10px;
        color: #fff;
        &:hover, &:focus, &:active{
          background-color: $color-purple!important;
          border-color: $color-purple!important;
        }
      }
    }
  }
}
.tbl-orders{
  > tbody{
    > tr{
      > td{
        span.label{
          border-radius: 10px;
          font-size: 95%;
        }
      }
    }
    > tr:first-child{
      > td{
        .form-group.order-indentity{
          width: 150px;
        }
      }
    }
  }
}
.input-required{
  position: relative;
  span.required-symbol{
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 17px;
    color: red;
  }
  .Select-clear-zone{
    display: none;
  }
}