.tbl-customer-detail{
    > tbody{
        > tr{
            > td{
                .form-group{
                    margin-bottom: 0;
                }
            }
        }
    }
}
.menu-detail-info{
    hr{
        width: 60%;
        margin: 30px auto;
    }
    ul{
        padding-left: 0;
        list-style: none;
        li{
            a{
                cursor: pointer;
            }
        }
    }
}
.hidden-register{
    background-color: rgba(24, 41, 61, 0.7)!important;
}
.info-view{
    h3{
        line-height: 35px;
        color: #fff;
        font-weight: 600;
    }
 }