@import "colors";

.lbl-style{
  border-radius: 15px;
}
.width-100{
  width: 100%!important;
}
.cursor-poiter{
  cursor: pointer!important;
}
a.link-user-pages{
  color: #c4c4ff;
  &:hover{
    color: #fff;
  }
}
.input-strength{
  border-color: #d5d5d5;
  border-width: 2px;
}
.pt-checkbox{
  label{
    margin-top: -2px;
  }
}
//nav-tabs
.tab-content{
  padding: 20px 15px;
}
.nav-tabs>li {
  padding-left: 0;
  padding-right: 0;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
  border-color: #e6e6e6;
  color: $text-color-main;
  opacity: 1;
  background-color: #e6e6e6;
}
.nav-tabs>li>a {
  border-radius: 0;
  padding: 15px 20px;
  margin-right: 0;
  color: $text-color-main;
  opacity: 0.7;
  min-width: 70px;
  border-color: transparent;
}
.nav-tabs>li>a:hover,
.nav-tabs>li>a:focus {
  background: transparent;
  border-color: transparent;
  opacity: 1;
}
.nav-tabs>li>a .tab-icon {
  margin-right: 6px;
}
.nav-tabs~.tab-content {
  overflow: hidden;
  padding: 15px;
}
.nav-tabs.nav-tabs-left:after{
  border-bottom: 0px;
}
.nav-tabs.nav-tabs-left>li{
  float: none;
}
.nav-tabs.nav-tabs-left {
  float: left;
  padding-right: 0;
}
.nav-tabs.nav-tabs-left~.tab-content {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.nav-tabs-simple {
  border-bottom: 0px;
}
.nav-tabs-simple:after {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  position: relative;
  bottom: 3px;
  z-index: 120;
}
.nav-tabs-simple>li {
  margin-bottom: 0;
}
.nav-tabs-simple>li:after {
  -webkit-transition: all 0.1s linear 0s;
  transition: all 0.1s linear 0s;
  -webkit-backface-visibility: hidden;
  width: 100%;
  display: block;
  background-color: #f55753;
  height: 0px;
  content: '';
  z-index: 125;
}
.nav-tabs-primary.nav-tabs-simple>li:after {
  background-color: #6d5cae;
}
.nav-tabs-success.nav-tabs-simple>li:after {
  background-color: #10cfbd;
}
.nav-tabs-complete.nav-tabs-simple>li:after {
  background-color: #48b0f7;
}
.nav-tabs-danger.nav-tabs-simple>li:after {
  background-color: #f55753;
}
.nav-tabs-warning.nav-tabs-simple>li:after {
  background-color: #f8d053;
}
.nav-tabs-info.nav-tabs-simple>li:after {
  background-color: #3b4752;
}
.nav-tabs-simple>li.active a,
.nav-tabs-simple>li.active a:hover,
.nav-tabs-simple>li.active a:focus {
  background-color: transparent;
  border-color: transparent;
}
.nav-tabs-simple>li.active:after,
.nav-tabs-simple>li:hover:after {
  height: 3px;
}
.nav-tabs-simple.nav-tabs-left:after{
  border-bottom: 0px;
}
.nav-tabs-simple.nav-tabs-left>li:after{
  width: 0px;
  height: 100%;
  top: 0;
  bottom: 0;
  position: absolute;
}
.nav-tabs-simple.nav-tabs-left>li.active:after,
.nav-tabs-simple.nav-tabs-left>li:hover:after{
  width: 3px;
}
.nav-tabs-simple.nav-tabs-left>li:after {
  right: 0;
}
.nav-tabs-linetriangle {
  border-bottom: 0;
}
.nav-tabs-linetriangle:after {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  position: relative;
  bottom: 0;
}
.nav-tabs-linetriangle>li.active>a {
  background: transparent;
  box-shadow: none;
  border-color: transparent;
}
.nav-tabs-linetriangle>li.active>a:hover,
.nav-tabs-linetriangle>li.active>a:focus,
.nav-tabs-linetriangle>li.active>a:active {
  border-color: transparent;
  background-color: transparent;
}
.nav-tabs-linetriangle>li.active>a:after,
.nav-tabs-linetriangle>li.active>a:before {
  border: medium solid transparent;
  content: "";
  height: 0;
  left: 50%;
  pointer-events: none;
  position: absolute;
  width: 0;
  z-index: 1;
  top: 100%;
}
.nav-tabs-linetriangle>li.active>a:after {
  border-top-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}
.nav-tabs-linetriangle>li.active>a:before {
  border-top-color: rgba(0, 0, 0, 0.2);
  border-width: 11px;
  margin-left: -11px;
}
.nav-tabs-linetriangle>li>a span {
  font-size: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.nav-tabs-linetriangle>li>a,
.nav-tabs-linetriangle>li>a:hover,
.nav-tabs-linetriangle>li>a:focus {
  overflow: visible;
  -webkit-transition: color 0.2s ease 0s;
  transition: color 0.2s ease 0s;
}
.nav-tabs-linetriangle~.tab-content {
  background: #fff;
}
@media screen and (max-width: 58em) {
  .nav-tabs-linetriangle {
    font-size: 0.6em;
  }
}
.nav-tabs-fillup {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 1000;
}
.nav-tabs-fillup>li {
  overflow: hidden;
}
.nav-tabs-fillup>li>a {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  background: transparent;
}
.nav-tabs-fillup>li>a:after {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  background: none repeat scroll 0 0 #10cfbd;
  border: 1px solid #10cfbd;
  content: "";
  height: calc(100% + 1px);
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transform: translate3d(0, 100%, 0px);
  transform: translate3d(0, 100%, 0px);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  width: 100%;
  z-index: -1;
}
.nav-tabs-primary.nav-tabs-fillup>li>a:after {
  background: none repeat scroll 0 0 #6d5cae;
  border: 1px solid #6d5cae;
}
.nav-tabs-success.nav-tabs-fillup>li>a:after {
  background: none repeat scroll 0 0 #10cfbd;
  border: 1px solid #10cfbd;
}
.nav-tabs-complete.nav-tabs-fillup>li>a:after {
  background: none repeat scroll 0 0 #48b0f7;
  border: 1px solid #48b0f7;
}
.nav-tabs-warning.nav-tabs-fillup>li>a:after {
  background: none repeat scroll 0 0 #f8d053;
  border: 1px solid #f8d053;
}
.nav-tabs-danger.nav-tabs-fillup>li>a:after {
  background: none repeat scroll 0 0 #f55753;
  border: 1px solid #f55753;
}
.nav-tabs-info.nav-tabs-fillup>li>a:after {
  background: none repeat scroll 0 0 #3b4752;
  border: 1px solid #3b4752;
}
.nav-tabs-fillup>li>a span {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0px, 5px, 0px);
  transform: translate3d(0px, 5px, 0px);
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  display: block;
  font-weight: 700;
  line-height: 1.5;
}
.nav-tabs-fillup>li.active {
  z-index: 100;
}
.nav-tabs-fillup>li.active>a,
.nav-tabs-fillup>li.active>a:hover,
.nav-tabs-fillup>li.active>a:focus {
  border-color: transparent;
  background: transparent;
  color: #fff;
}
.nav-tabs-fillup>li.active>a:after {
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate(0px, 0px);
}
.nav-tabs-fillup>li.active>a span {
  -webkit-transform: translate3d(0px, -5px, 0px);
  transform: translate3d(0px, -5px, 0px);
  -ms-transform: translate(0px, -5px);
}
.nav-tabs-fillup>li.active .icon:before {
  -webkit-transform: translate3d(0px, -5px, 0px);
  transform: translate3d(0px, -5px, 0px);
  -ms-transform: translate(0px, -5px);
}
.nav-tabs-fillup .icon:before {
  -webkit-transform: translate3d(0px, 5px, 0px);
  transform: translate3d(0px, 5px, 0px);
  -ms-transform: translate(0px, 5px);
  -webkit-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  display: block;
  margin: 0;
}
//table
.tbl-headblue{
  > thead{
    background: #492474;
    > tr{
      > th{
        color: #fff!important;
        border-bottom: 0;
        vertical-align: middle;
      }
    }
  }
  > tbody{
    > tr{
      &:first-child{
        > td{
          .form-group{
            margin-bottom: 0;
          }
        }
      }
      &:last-child{
        > td{
          border-bottom: 1px solid #ddd;
        }
      }
      &:hover{
        > td{
          background-color: #FEF3C6;
        }
      }
      > td{
        vertical-align: middle;
      }
    }
  }
}
.tbl-headred{
  thead{
    background: $tbl-head-red;
    > tr{
      > th{
        color: #fff!important;
        border-bottom: 0;
      }
    }
  }
  tbody{
    tr{
      &:last-child{
        td{
          border-bottom: 1px solid transparent;
        }
      }
      &:hover{
        td{
          border-top: 1px solid $tbl-head-red!important;
          border-bottom: 1px solid $tbl-head-red;
        }
      }
    }
  }
}
.widget-grey{
  background: #EDEFF0;
}
.user-status{
  > label{
    height: 34px;
    > input[type="checkbox"]{
      position: absolute;
      clip: rect(0, 0, 0, 0);
      pointer-events: none;
    }
    > input[type="radio"]{
      position: absolute;
      clip: rect(0, 0, 0, 0);
      pointer-events: none;
    }
  }
}
.form-error{
  > h1{
    font-size: 130px;
  }
  .btn{
    width: 200px;
    margin:0 auto;
  }
}
ul.pagination{
  > li{
    cursor: pointer;
  }
}
.breadcrumb{
  background: transparent;
  padding: 8px 0;
}
.btn-primary{
  color: #FFF;
  background-color: $color-purple;
  border-color: $color-purple;
  &:hover, &:focus{
    background-color: #351f4e;
    border-color: #351f4e;
  }
}
.btn-primary.active,
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover {
  color: #FFF!important;
  background-color: $color-purple!important;
  border-color: $color-purple!important;
}
.btn-primary.disabled,
.btn-primary.disabled.active,
.btn-primary.disabled.focus,
.btn-primary.disabled:active,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled],
.btn-primary[disabled].active,
.btn-primary[disabled].focus,
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary.active,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
  background-color: #5D2E85!important;
  border-color: #5D2E85!important;
}


.has-success .form-control{
  border: 1px solid #e6e6e6;
}

.has-success .checkbox, .has-success .checkbox-custom, .has-success .checkbox-inline, .has-success .control-label, .has-success .help-block, .has-success .radio, .has-success .radio-custom, .has-success .radio-inline, .has-success.checkbox label, .has-success.checkbox-inline label, .has-success.radio label, .has-success.radio-inline label{
  color: #032d3e;
}
.control-label{
  color: #032d3e!important;
}
//tab-content
.tab-balance{
  border-bottom: 1px solid #ddd!important;
  > li{
    border-radius: 0!important;
    padding: 15px 20px!important;
    margin-right: 0;
    color: #032d3e!important;
    opacity: 0.7;
    font-weight: 600;
    min-width: 70px;
    border: 0!important;
    border-bottom: 3px solid transparent!important;
  }
  > li[role=tab][aria-selected=true], > li:hover{
    border: 0!important;
    border-bottom: 3px solid $color-purple!important;
    opacity: 1;
  }
}
.react-tabs [role=tab]:focus{
  box-shadow: none;
  &:after{
    background: transparent!important;
  }
}