@import "colors";

.btn, .form-control, .panel, .modal-content, .pagination{
  border-radius: $border-radius;
}
.Select-control{
  border-radius: $border-radius!important;
}
.main-sidebar{
  min-height: 100vh;
  position: fixed;
}
.text-hint{
  color: #bebebe!important;
}
.text-grey{
  color: #797979 !important;
}
.text-black{
  color: #032d3e;
}
.email-active{
  i{
    font-size: 8px;
    vertical-align: middle;
    padding-right: 3px;
  }
}
.box-role-detail{
  > li{
    padding: 0;
  }
}
.btn-group-toggle{
  .btn.btn-default{
    background: #fff;
  }
  .btn.btn-default.active, .btn.btn-default:hover, .btn.btn-default:focus{
    background: #e8e8e8!important;
  }
}
.block-avatar{
  img{
    width: 164px;
    height: 164px;
    border-radius: 50%;
  }
}
.tbl-info-detail{
  border: 1px solid #ddd;
  margin-bottom: 30px;
  background: #F3F5F6;
  border-radius: 4px;
  border-style: hidden;
  box-shadow: 0 0 0 1px #ddd;
  > thead{
    > tr{
      >th{
        padding: 15px 10px;
        border-bottom-width: 1px;
      }
    }
  }
  > tbody{
    > tr{
      > td{
        vertical-align: middle;
        border-top: none;
        .style-select{
          width: auto;
        }
      }
    }
  }
  @media all and (min-width: 768px){
    width: 550px;
  }
}
.tbl-customer-detail{
  .style-select-50{
    width: 49%;
  }
}
.list-role{
  margin-bottom: 25px;
  .panel-heading{
    border-bottom: none;
  }
  > table{
    margin-bottom: 0;
  }
}
.add-user{
  width: 100%;
  ul{
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    z-index: 1;
    background: #fff;
    margin-top: -3px;
    width: 100%;
    border-left: 1px solid #66afe9;
    border-right: 1px solid #66afe9;
    border-bottom: 1px solid #66afe9;
    padding-left: 0;
    padding-top: 5px;
    list-style: none;
    li{
      padding: 5px 10px 15px 10px;
      cursor: pointer;
      .item-d{
        position: relative;
        min-height: 40px;
        img{
          position: absolute;
          top: 0;
          left:0;
        }
        p{
          color: #365899;
          margin-left: 55px;
        }
        span{
          margin-left: 55px;
        }
      }
      &:hover{
        background: #4267B2;
        .item-d{
          p, span.text-hint{
            color: #fff!important;
          }
        }
      }
    }
  }
}
.block-avatar-user{
  img{
    width: 32px;
    height: 32px;
  }
}
.block-name-user{
  padding-left: 10px;
}
.style-strength-pass{
  .ReactPasswordStrength{
    border: none;
    font-size: 11px;
    .ReactPasswordStrength-strength-bar{
      top:0;
      right: 0;
      width: 100%!important;
    }
    .ReactPasswordStrength-strength-desc{
      width: auto;
      padding: 10px;
      font-weight: 600;
      font-style: normal;
    }
  }
}
.choose-hub{
  padding: 8px 5px;
  position: relative;
  select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: transparent;
    color: #fff;
    padding-left: 30px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    background: -webkit-linear-gradient(top,rgba(255,255,255,.3) 0,rgba(255,255,255,.2) 100%);
    background: linear-gradient(to bottom,rgba(255,255,255,.3) 0,rgba(255,255,255,.2) 100%);
    &:hover{
      background: -webkit-linear-gradient(top,rgba(255,255,255,.4) 0,rgba(255,255,255,.3) 100%);
      background: linear-gradient(to bottom,rgba(255,255,255,.4) 0,rgba(255,255,255,.3) 100%);
      color: #fff;
    }
    &:focus{
      border-color: #fff;
    }
    option{
      color: #032d3e;
      height: 30px;
    }
  }
  &:before{
    content: "\F041";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    top: 17px;
    left: 15px;
    color: #fff;
  }
}
.sidebar-hub{
  > .sidebar{
    > ul{
      > li{
        a{
          color: #fff;
        }
      }
    }
  }
}
.TX-HN{
  background: #0663CD !important;
}
.CG-HN{
  background: #367fa9 !important;
}
.toast-style{
  position: absolute;
  top: 55px;
  right: 0;
  min-width: 350px;
}
.pt-nowrap{
  white-space: nowrap!important;
}
.auto-with{
  width: auto!important;
}
.lh-34{
  line-height: 34px;
}
.not-allowed{
  cursor: not-allowed;
}