@import "colors";

@media all and (max-width: 668px){
  .content-header{
    padding: 15px 7px;
  }
  .content{
    padding: 15px 7px;
  }
  .widget-body{
    padding: 20px 7px;
  }
  .create-order{
    background: $color-purple!important;
  }
}