@import "colors";

.search-form{
  margin: 8px 15px;
  input{
    width: 200px;
    background-color: rgba(255,255,255,.1);
    color: #FFF;
    height: 32px;
  }
  span:before{
    color: #032d3e;
  }
}
.form-control,
.form-control.focus,
.form-control:focus {
  box-shadow: none
}
.checkbox-custom,
body {
  position: relative;
}
.brand,
.user {
  text-align: center
}
.text-base {
  color: #737373
}
.text-muted {
  color: #9a9a9a
}
.text-white {
  color: #FFF
}
.text-primary {
  color: #055bbd
}
a.text-primary:focus,
a.text-primary:hover {
  color: #04438c
}
.text-success {
  color: #149278
}
a.text-success:focus,
a.text-success:hover {
  color: #0e6553
}
.text-info {
  color: #00a7f5
}
a.text-info:focus,
a.text-info:hover {
  color: #0084c2
}
.text-warning {
  color: #ffae04
}
a.text-warning:focus,
a.text-warning:hover {
  color: #d18d00
}
.text-danger {
  color: #e21d27
}
a.text-danger:focus,
a.text-danger:hover {
  color: #b5171f
}
.text-purple {
  color: #801dcd
}
a.text-purple:focus,
a.text-purple:hover {
  color: #6417a0
}
.bg-light {
  background-color: rgba(255, 255, 255, .1)
}
.bg-dark {
  background-color: rgba(31, 54, 79, .1)
}
.bg-default {
  background-color: #e6e6e6;
  color: #FFF
}
a.bg-default:focus,
a.bg-default:hover {
  background-color: #cdcdcd
}
.bg-black {
  background-color: #1f364f;
  color: #FFF
}
a.bg-black:focus,
a.bg-black:hover {
  background-color: #111d2b
}
.bg-primary {
  background-color: #0773ef;
  color: #FFF
}
a.bg-primary:focus,
a.bg-primary:hover {
  background-color: #055bbd
}
.bg-success {
  background-color: #1abe9e;
  color: #FFF
}
a.bg-success:focus,
a.bg-success:hover {
  background-color: #149278
}
.bg-info {
  background-color: #29bbff;
  color: #FFF
}
a.bg-info:focus,
a.bg-info:hover {
  background-color: #00a7f5
}
.bg-warning {
  background-color: #ffbe38;
  color: #FFF
}
a.bg-warning:focus,
a.bg-warning:hover {
  background-color: #ffae05
}
.bg-danger {
  background-color: #e84b53;
  color: #FFF
}
a.bg-danger:focus,
a.bg-danger:hover {
  background-color: #e21d27
}
.bg-purple {
  background-color: #9939e3;
  color: #FFF
}
a.bg-purple:focus,
a.bg-purple:hover {
  background-color: #801dcd
}
.page-header {
  border-style: none;
  margin: 0
}
.form-control,
.table-bordered,
.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
  border: 1px solid #e6e6e6
}
.drop-cap:first-letter {
  float: left;
  margin: 0 10px -5px 0;
  font-size: 450%;
  line-height: 100%;
  color: #055bbd
}
.row-0 {
  margin-left: 0;
  margin-right: 0
}
.row-0>[class^=col] {
  padding-left: 0;
  padding-right: 0
}
caption {
  color: #9a9a9a
}
@media screen and (max-width: 767px) {
  .table-responsive {
    border: 1px solid #e6e6e6
  }
}
input[type=text],
input[type=email],
input[type=password],
textarea {
  -webkit-appearance: none
}
label {
  font-weight: 400
}
.form-control.rounded {
  border-radius: 100px!important
}
.checkbox-custom,
.radio-custom,
.switch {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px
}
.checkbox-custom label,
.radio-custom label,
.switch label {
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: 400;
  cursor: pointer
}
.checkbox-custom+.checkbox-custom,
.radio-custom+.radio-custom,
.switch+.switch {
  margin-top: -5px
}
fieldset[disabled] input[type=radio]+label,
fieldset[disabled] input[type=checkbox]+label,
input[type=radio].disabled+label,
input[type=radio][disabled]+label,
input[type=checkbox].disabled+label,
input[type=checkbox][disabled]+label {
  opacity: .6;
  cursor: not-allowed!important
}
input[type=radio]:focus,
input[type=checkbox]:focus {
  outline: 0
}
.checkbox-inline,
.radio-inline,
.switch-inline {
  padding-left: 0;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0
}
.checkbox-custom input[type=checkbox],
.radio-custom input[type=radio] {
  display: none!important
}
.checkbox-custom input[type=checkbox]+label {
  cursor: pointer;
  margin-bottom: 0
}
.checkbox-custom input[type=checkbox]+label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 16px;
  height: 16px;
  border: 1px solid #e6e6e6;
  border-radius: 2px
}
.checkbox-custom input[type=checkbox]+label:after {
  position: absolute;
  top: -5px;
  left: 1px;
  font-family: themify;
  content: "\e64c";
  font-size: 18px;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0)
}
.checkbox-custom input[type=checkbox]+label.checkbox-success:before {
  border-color: #17A88B
}
.checkbox-custom input[type=checkbox]+label.checkbox-warning:before {
  border-color: #FFB61E
}
.checkbox-custom input[type=checkbox]+label.checkbox-error:before {
  border-color: #E5343D
}
.checkbox-custom input[type=checkbox]+label.checkbox-muted:before {
  border-color: #9a9a9a
}
.checkbox-custom input[type=checkbox]:checked+label:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1)
}
.radio-custom {
  position: relative
}
.radio-custom input[type=radio]+label {
  cursor: pointer;
  margin-bottom: 0
}
.radio-custom input[type=radio]+label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 16px;
  height: 16px;
  border: 1px solid #e6e6e6;
  border-radius: 50%
}
.radio-custom input[type=radio]+label.radio-success:before {
  border-color: #17A88B
}
.radio-custom input[type=radio]+label.radio-warning:before {
  border-color: #FFB61E
}
.radio-custom input[type=radio]+label.radio-error:before {
  border-color: #E5343D
}
.radio-custom input[type=radio]+label:after {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  top: 7px;
  left: 5px;
  display: block;
  border-radius: 50%;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0)
}
.radio-custom input[type=radio]:checked+label:after {
  background-color: #737373;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1)
}
.radio-custom input[type=radio]:checked+label.radio-success:after {
  background-color: #17A88B
}
.radio-custom input[type=radio]:checked+label.radio-warning:after {
  background-color: #FFB61E
}
.radio-custom input[type=radio]:checked+label.radio-error:after {
  background-color: #E5343D
}
.switch {
  position: relative
}
.switch input[type=radio],
.switch input[type=checkbox] {
  display: none!important
}
.switch input[type=radio]+label,
.switch input[type=checkbox]+label {
  cursor: pointer;
  margin-bottom: 0;
  height: 20px;
  width: 36px
}
.switch input[type=radio]+label:before,
.switch input[type=checkbox]+label:before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 36px;
  height: 4px;
  background-color: #e6e6e6;
  border-radius: 100px
}
.switch input[type=radio]+label:after,
.switch input[type=checkbox]+label:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  margin-left: 0;
  width: 16px;
  height: 16px;
  background-color: #e6e6e6;
  border-radius: 50%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  -webkit-transition: margin 50ms;
  -moz-transition: margin 50ms;
  -o-transition: margin 50ms;
  transition: margin 50ms
}
.switch input[type=radio]:checked+label:after,
.switch input[type=checkbox]:checked+label:after {
  margin-left: 20px
}
.switch input[type=radio]:checked+label.switch-success:after,
.switch input[type=radio]:checked+label.switch-success:before,
.switch input[type=checkbox]:checked+label.switch-success:after,
.switch input[type=checkbox]:checked+label.switch-success:before {
  background-color: #17A88B
}
.switch input[type=radio]:checked+label.switch-warning:after,
.switch input[type=radio]:checked+label.switch-warning:before,
.switch input[type=checkbox]:checked+label.switch-warning:after,
.switch input[type=checkbox]:checked+label.switch-warning:before {
  background-color: #FFB61E
}
.switch input[type=radio]:checked+label.switch-error:after,
.switch input[type=radio]:checked+label.switch-error:before,
.switch input[type=checkbox]:checked+label.switch-error:after,
.switch input[type=checkbox]:checked+label.switch-error:before {
  background-color: #E5343D
}
.form-control-feedback {
  line-height: 32px;
  height: 32px;
  color: #fff;
}
.has-success .checkbox,
.has-success .checkbox-custom,
.has-success .checkbox-inline,
.has-success .control-label,
.has-success .help-block,
.has-success .radio,
.has-success .radio-custom,
.has-success .radio-inline,
.has-success.checkbox label,
.has-success.checkbox-inline label,
.has-success.radio label,
.has-success.radio-inline label {
  color: #17A88B;
  font-weight: 400
}
.has-success .form-control {
  border-color: #17A88B;
  box-shadow: none
}
.has-success .form-control:focus {
  box-shadow: none;
  border-color: #17A88B
}
.has-success .input-group-addon {
  color: #17A88B;
  border-color: #17A88B;
  background-color: transparent
}
.has-success .form-control-feedback {
  color: #17A88B
}
.has-warning .checkbox,
.has-warning .checkbox-custom,
.has-warning .checkbox-inline,
.has-warning .control-label,
.has-warning .help-block,
.has-warning .radio,
.has-warning .radio-custom,
.has-warning .radio-inline,
.has-warning.checkbox label,
.has-warning.checkbox-inline label,
.has-warning.radio label,
.has-warning.radio-inline label {
  color: #FFB61E;
  font-weight: 400
}
.has-warning .form-control {
  border-color: #FFB61E;
  box-shadow: none
}
.has-warning .form-control:focus {
  box-shadow: none;
  border-color: #FFB61E
}
.has-warning .input-group-addon {
  color: #FFB61E;
  border-color: #FFB61E;
  background-color: transparent
}
.has-warning .form-control-feedback {
  color: #FFB61E
}
.has-error .checkbox,
.has-error .checkbox-custom,
.has-error .checkbox-inline,
.has-error .control-label,
.has-error .help-block,
.has-error .radio,
.has-error .radio-custom,
.has-error .radio-inline,
.has-error.checkbox label,
.has-error.checkbox-inline label,
.has-error.radio label,
.has-error.radio-inline label {
  color: #E5343D;
  font-weight: 400
}
.has-error .form-control {
  border-color: #E5343D;
  box-shadow: none
}
.has-error .form-control:focus {
  box-shadow: none;
  border-color: #E5343D
}
.has-error .input-group-addon {
  color: #E5343D;
  border-color: #E5343D;
  background-color: transparent
}
.has-error .form-control-feedback {
  color: #E5343D
}
.form-horizontal .checkbox-custom,
.form-horizontal .radio-custom,
.form-horizontal .switch {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px;
  height: 27px
}
@media (min-width: 768px) {
  .form-inline .checkbox-custom,
  .form-inline .radio-custom,
  .form-inline .switch {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle
  }
  .form-horizontal .control-label {
    padding-top: 8px
  }
}
.form-horizontal .checkbox-custom input[type=checkbox]+label:before {
  top: 9px
}
.form-horizontal .checkbox-custom input[type=checkbox]+label:after {
  top: 2px
}
.form-horizontal .radio-custom input[type=radio]+label:before {
  top: 9px
}
.form-horizontal .radio-custom input[type=radio]+label:after {
  top: 14px
}
.form-horizontal .switch input[type=radio]+label:before,
.form-horizontal .switch input[type=checkbox]+label:before {
  top: 15px
}
.form-horizontal .switch input[type=radio]+label:after,
.form-horizontal .switch input[type=checkbox]+label:after {
  top: 9px
}
.btn {
  outline: 0!important;
  padding: 6px 15px;
  font-size: $font-size-main;
}
.btn.active,
.btn:active {
  box-shadow: none
}
.btn-group-lg>.btn,
.btn-lg {
  padding: 10px 20px;
  font-size: 16px
}
.btn-group-sm>.btn,
.btn-sm {
  padding: 5px 12px;
  font-size: 12px
}
.btn-group-xs>.btn,
.btn-xs {
  padding: 1px 5px;
  font-size: 12px
}
.btn-demo .btn {
  margin: 0 10px 10px 0;
}
.btn-default.active,
.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.open>.dropdown-toggle.btn-default,
.open>.dropdown-toggle.btn-default.focus,
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover {
  color: #737373;
  background-color: #cdcdcd;
  border-color: #cdcdcd
}
.btn-default.disabled,
.btn-default.disabled.active,
.btn-default.disabled.focus,
.btn-default.disabled:active,
.btn-default.disabled:focus,
.btn-default.disabled:hover,
.btn-default[disabled],
.btn-default[disabled].active,
.btn-default[disabled].focus,
.btn-default[disabled]:active,
.btn-default[disabled]:focus,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default,
fieldset[disabled] .btn-default.active,
fieldset[disabled] .btn-default.focus,
fieldset[disabled] .btn-default:active,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default:hover {
  background-color: #e6e6e6;
  border-color: #e6e6e6
}
.btn-default .badge {
  color: #e6e6e6
}
.btn-primary.active,
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover {
  color: #FFF;
  background-color: #054fa4;
  border-color: #054fa4
}
.btn-primary.disabled,
.btn-primary.disabled.active,
.btn-primary.disabled.focus,
.btn-primary.disabled:active,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled],
.btn-primary[disabled].active,
.btn-primary[disabled].focus,
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary.active,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
  background-color: #0667D6;
  border-color: #0667D6
}
.btn-primary .badge {
  color: #0667D6
}
.btn-success {
  color: #FFF;
  background-color: #17A88B;
  border-color: #17A88B
}
.btn-success.focus,
.btn-success:focus {
  color: #FFF!important;
  background-color: #117b66!important;
  border-color: #117b66!important
}
.btn-success:hover {
  color: #FFF!important;
  background-color: #149278!important;
  border-color: #149278!important
}
.btn-success.active,
.btn-success.active.focus,
.btn-success.active:focus,
.btn-success.active:hover,
.btn-success:active,
.btn-success:active.focus,
.btn-success:active:focus,
.btn-success:active:hover,
.open>.dropdown-toggle.btn-success,
.open>.dropdown-toggle.btn-success.focus,
.open>.dropdown-toggle.btn-success:focus,
.open>.dropdown-toggle.btn-success:hover {
  color: #FFF;
  background-color: #117b66;
  border-color: #117b66
}
.btn-success.disabled,
.btn-success.disabled.active,
.btn-success.disabled.focus,
.btn-success.disabled:active,
.btn-success.disabled:focus,
.btn-success.disabled:hover,
.btn-success[disabled],
.btn-success[disabled].active,
.btn-success[disabled].focus,
.btn-success[disabled]:active,
.btn-success[disabled]:focus,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success,
fieldset[disabled] .btn-success.active,
fieldset[disabled] .btn-success.focus,
fieldset[disabled] .btn-success:active,
fieldset[disabled] .btn-success:focus,
fieldset[disabled] .btn-success:hover {
  background-color: #17A88B;
  border-color: #17A88B
}
.btn-success .badge {
  color: #17A88B
}
.btn-info {
  color: #FFF;
  background-color: #0FB3FF;
  border-color: #0FB3FF
}
.btn-info.focus,
.btn-info:focus {
  color: #FFF!important;
  background-color: #0096db!important;
  border-color: #0096db!important
}
.btn-info:hover {
  color: #FFF!important;
  background-color: #00a7f5!important;
  border-color: #00a7f5!important
}
.btn-info.active,
.btn-info.active.focus,
.btn-info.active:focus,
.btn-info.active:hover,
.btn-info:active,
.btn-info:active.focus,
.btn-info:active:focus,
.btn-info:active:hover,
.open>.dropdown-toggle.btn-info,
.open>.dropdown-toggle.btn-info.focus,
.open>.dropdown-toggle.btn-info:focus,
.open>.dropdown-toggle.btn-info:hover {
  color: #FFF;
  background-color: #0096db;
  border-color: #0096db
}
.btn-info.disabled,
.btn-info.disabled.active,
.btn-info.disabled.focus,
.btn-info.disabled:active,
.btn-info.disabled:focus,
.btn-info.disabled:hover,
.btn-info[disabled],
.btn-info[disabled].active,
.btn-info[disabled].focus,
.btn-info[disabled]:active,
.btn-info[disabled]:focus,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info,
fieldset[disabled] .btn-info.active,
fieldset[disabled] .btn-info.focus,
fieldset[disabled] .btn-info:active,
fieldset[disabled] .btn-info:focus,
fieldset[disabled] .btn-info:hover {
  background-color: #0FB3FF;
  border-color: #0FB3FF
}
.btn-info .badge {
  color: #0FB3FF
}
.btn-purple {
  color: #FFF;
  background-color: #8E23E0;
  border-color: #8E23E0
}
.btn-purple.focus,
.btn-purple:focus {
  color: #FFF!important;
  background-color: #721ab6!important;
  border-color: #721ab6!important
}
.btn-purple:hover {
  color: #FFF!important;
  background-color: #801dcd!important;
  border-color: #801dcd!important
}
.btn-purple.active,
.btn-purple.active.focus,
.btn-purple.active:focus,
.btn-purple.active:hover,
.btn-purple:active,
.btn-purple:active.focus,
.btn-purple:active:focus,
.btn-purple:active:hover,
.open>.dropdown-toggle.btn-purple,
.open>.dropdown-toggle.btn-purple.focus,
.open>.dropdown-toggle.btn-purple:focus,
.open>.dropdown-toggle.btn-purple:hover {
  color: #FFF;
  background-color: #721ab6;
  border-color: #721ab6
}
.btn-purple.disabled,
.btn-purple.disabled.active,
.btn-purple.disabled.focus,
.btn-purple.disabled:active,
.btn-purple.disabled:focus,
.btn-purple.disabled:hover,
.btn-purple[disabled],
.btn-purple[disabled].active,
.btn-purple[disabled].focus,
.btn-purple[disabled]:active,
.btn-purple[disabled]:focus,
.btn-purple[disabled]:hover,
fieldset[disabled] .btn-purple,
fieldset[disabled] .btn-purple.active,
fieldset[disabled] .btn-purple.focus,
fieldset[disabled] .btn-purple:active,
fieldset[disabled] .btn-purple:focus,
fieldset[disabled] .btn-purple:hover {
  background-color: #8E23E0;
  border-color: #8E23E0
}
.btn-purple .badge {
  color: #8E23E0
}
.btn-warning {
  color: #FFF;
  background-color: #FFB61E;
  border-color: #FFB61E
}
.btn-warning.focus,
.btn-warning:focus {
  color: #FFF!important;
  background-color: #ea9e00!important;
  border-color: #ea9e00!important
}
.btn-warning:hover {
  color: #FFF!important;
  background-color: #ffae04!important;
  border-color: #ffae04!important
}
.btn-warning.active,
.btn-warning.active.focus,
.btn-warning.active:focus,
.btn-warning.active:hover,
.btn-warning:active,
.btn-warning:active.focus,
.btn-warning:active:focus,
.btn-warning:active:hover,
.open>.dropdown-toggle.btn-warning,
.open>.dropdown-toggle.btn-warning.focus,
.open>.dropdown-toggle.btn-warning:focus,
.open>.dropdown-toggle.btn-warning:hover {
  color: #FFF;
  background-color: #ea9e00;
  border-color: #ea9e00
}
.btn-warning.disabled,
.btn-warning.disabled.active,
.btn-warning.disabled.focus,
.btn-warning.disabled:active,
.btn-warning.disabled:focus,
.btn-warning.disabled:hover,
.btn-warning[disabled],
.btn-warning[disabled].active,
.btn-warning[disabled].focus,
.btn-warning[disabled]:active,
.btn-warning[disabled]:focus,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning,
fieldset[disabled] .btn-warning.active,
fieldset[disabled] .btn-warning.focus,
fieldset[disabled] .btn-warning:active,
fieldset[disabled] .btn-warning:focus,
fieldset[disabled] .btn-warning:hover {
  background-color: #FFB61E;
  border-color: #FFB61E
}
.btn-warning .badge {
  color: #FFB61E
}
.btn-danger {
  color: #FFF;
  background-color: #E5343D;
  border-color: #E5343D
}
.btn-danger.focus,
.btn-danger:focus {
  color: #FFF!important;
  background-color: #cc1a23!important;
  border-color: #cc1a23!important
}
.btn-danger:hover {
  color: #FFF!important;
  background-color: #e21d27!important;
  border-color: #e21d27!important
}
.btn-danger.active,
.btn-danger.active.focus,
.btn-danger.active:focus,
.btn-danger.active:hover,
.btn-danger:active,
.btn-danger:active.focus,
.btn-danger:active:focus,
.btn-danger:active:hover,
.open>.dropdown-toggle.btn-danger,
.open>.dropdown-toggle.btn-danger.focus,
.open>.dropdown-toggle.btn-danger:focus,
.open>.dropdown-toggle.btn-danger:hover {
  color: #FFF;
  background-color: #cc1a23;
  border-color: #cc1a23
}
.btn-danger.disabled,
.btn-danger.disabled.active,
.btn-danger.disabled.focus,
.btn-danger.disabled:active,
.btn-danger.disabled:focus,
.btn-danger.disabled:hover,
.btn-danger[disabled],
.btn-danger[disabled].active,
.btn-danger[disabled].focus,
.btn-danger[disabled]:active,
.btn-danger[disabled]:focus,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger,
fieldset[disabled] .btn-danger.active,
fieldset[disabled] .btn-danger.focus,
fieldset[disabled] .btn-danger:active,
fieldset[disabled] .btn-danger:focus,
fieldset[disabled] .btn-danger:hover {
  background-color: #E5343D;
  border-color: #E5343D
}
.btn-danger .badge {
  color: #E5343D
}
.btn-black {
  color: #FFF;
  background-color: #1f364f;
  border-color: #1f364f
}
.btn-black.focus,
.btn-black:focus {
  color: #FFF!important;
  background-color: #111d2b!important;
  border-color: #111d2b!important
}
.btn-black:hover {
  color: #FFF!important;
  background-color: #18293d!important;
  border-color: #18293d!important
}
.btn-black.active,
.btn-black.active.focus,
.btn-black.active:focus,
.btn-black.active:hover,
.btn-black:active,
.btn-black:active.focus,
.btn-black:active:focus,
.btn-black:active:hover,
.open>.dropdown-toggle.btn-black,
.open>.dropdown-toggle.btn-black.focus,
.open>.dropdown-toggle.btn-black:focus,
.open>.dropdown-toggle.btn-black:hover {
  color: #FFF;
  background-color: #111d2b;
  border-color: #111d2b
}
.btn-black.disabled,
.btn-black.disabled.active,
.btn-black.disabled.focus,
.btn-black.disabled:active,
.btn-black.disabled:focus,
.btn-black.disabled:hover,
.btn-black[disabled],
.btn-black[disabled].active,
.btn-black[disabled].focus,
.btn-black[disabled]:active,
.btn-black[disabled]:focus,
.btn-black[disabled]:hover,
fieldset[disabled] .btn-black,
fieldset[disabled] .btn-black.active,
fieldset[disabled] .btn-black.focus,
fieldset[disabled] .btn-black:active,
fieldset[disabled] .btn-black:focus,
fieldset[disabled] .btn-black:hover {
  background-color: #1f364f;
  border-color: #1f364f
}
.btn-outline.btn-black,
.btn-outline.btn-danger,
.btn-outline.btn-default,
.btn-outline.btn-info,
.btn-outline.btn-primary,
.btn-outline.btn-purple,
.btn-outline.btn-success,
.btn-outline.btn-warning {
  background-color: transparent
}
.btn-black .badge {
  color: #1f364f
}
.btn-outline.btn-default {
  color: #737373;
  border-color: #e6e6e6
}
.btn-outline.btn-primary {
  color: #0667D6;
  border-color: #0667D6
}
.btn-outline.btn-success {
  color: #17A88B;
  border-color: #17A88B
}
.btn-outline.btn-info {
  color: #0FB3FF;
  border-color: #0FB3FF
}
.btn-outline.btn-purple {
  color: #8E23E0;
  border-color: #8E23E0
}
.btn-outline.btn-warning {
  color: #FFB61E;
  border-color: #FFB61E
}
.btn-outline.btn-danger {
  color: #E5343D;
  border-color: #E5343D
}
.btn-outline.btn-black {
  color: #1f364f;
  border-color: #1f364f
}
.ball-beat>div,
.ball-clip-rotate-pulse>div:first-child,
.ball-clip-rotate>div,
.ball-grid-beat>div,
.ball-grid-pulse>div,
.ball-pulse-rise>div,
.ball-pulse-sync>div,
.ball-pulse>div,
.ball-rotate>div,
.ball-rotate>div:after,
.ball-rotate>div:before,
.ball-scale-multiple>div,
.ball-scale>div,
.ball-spin-fade-loader>div,
.ball-zig-zag-deflect>div,
.ball-zig-zag>div,
.cube-transition>div,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover,
.line-scale-party>div,
.line-scale-pulse-out-rapid>div,
.line-scale-pulse-out>div,
.line-scale>div,
.line-spin-fade-loader>div,
.pacman>div:nth-child(3),
.pacman>div:nth-child(4),
.pacman>div:nth-child(5),
.pacman>div:nth-child(6),
.sk-chasing-dots .sk-child,
.sk-circle .sk-child:before,
.sk-cube-grid .sk-cube,
.sk-double-bounce .sk-child,
.sk-fading-circle .sk-circle:before,
.sk-folding-cube .sk-cube:before,
.sk-rotating-plane,
.sk-spinner-pulse,
.sk-three-bounce .sk-child,
.sk-wandering-cubes .sk-cube,
.sk-wave .sk-rect {
  background-color: #1f364f
}
.btn-raised.btn-default {
  box-shadow: 0 3px 0 0 #cdcdcd
}
.btn-raised.btn-default.focus,
.btn-raised.btn-default:focus {
  box-shadow: 0 3px 0 0 silver
}
.btn-raised.btn-primary {
  box-shadow: 0 3px 0 0 #054fa4
}
.btn-raised.btn-primary.focus,
.btn-raised.btn-primary:focus {
  box-shadow: 0 3px 0 0 #04438c
}
.btn-raised.btn-success {
  box-shadow: 0 3px 0 0 #117b66
}
.btn-raised.btn-success.focus,
.btn-raised.btn-success:focus {
  box-shadow: 0 3px 0 0 #0e6553
}
.btn-raised.btn-info {
  box-shadow: 0 3px 0 0 #0096db
}
.btn-raised.btn-info.focus,
.btn-raised.btn-info:focus {
  box-shadow: 0 3px 0 0 #0084c2
}
.btn-raised.btn-purple {
  box-shadow: 0 3px 0 0 #721ab6
}
.btn-raised.btn-purple.focus,
.btn-raised.btn-purple:focus {
  box-shadow: 0 3px 0 0 #6417a0
}
.btn-raised.btn-warning {
  box-shadow: 0 3px 0 0 #ea9e00
}
.btn-raised.btn-warning.focus,
.btn-raised.btn-warning:focus {
  box-shadow: 0 3px 0 0 #d18d00
}
.btn-raised.btn-danger {
  box-shadow: 0 3px 0 0 #cc1a23
}
.btn-raised.btn-danger.focus,
.btn-raised.btn-danger:focus {
  box-shadow: 0 3px 0 0 #b5171f
}
.btn-raised.btn-black {
  box-shadow: 0 3px 0 0 #111d2b
}
.btn-raised.btn-black.focus,
.btn-raised.btn-black:focus {
  box-shadow: 0 3px 0 0 #0a1018
}
.btn-rounded {
  border-radius: 100px!important
}
lesshat-selector {
  -lh-property: 0
}
@-webkit-keyframes scaling {
  0% {
    -webkit-transform: scale(0);
    opacity: 1
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0
  }
}
@-moz-keyframes scaling {
  0% {
    -moz-transform: scale(0);
    opacity: 1
  }
  100% {
    -moz-transform: scale(1);
    opacity: 0
  }
}
@-o-keyframes scaling {
  0% {
    -o-transform: scale(0);
    opacity: 1
  }
  100% {
    -o-transform: scale(1);
    opacity: 0
  }
}
@keyframes scaling {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 1
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0
  }
}
.sk-fading-circle .sk-circle {
  margin-top: 0;
  margin-bottom: 0
}
.panel,
.panel-group {
  margin-bottom: 24px
}
.ball-clip-rotate>div {
  border: 2px solid #1f364f;
  border-bottom-color: transparent
}
.ball-clip-rotate-pulse>div:last-child {
  top: 0;
  left: -14px;
  border: 2px solid #1f364f;
  border-color: #1f364f transparent
}
.square-spin>div {
  background-color: #1f364f;
  border: 1px solid #1f364f
}
.ball-clip-rotate-multiple>div {
  border: 2px solid #1f364f;
  border-bottom-color: transparent;
  border-top-color: transparent
}
.ball-clip-rotate-multiple>div:last-child {
  border-color: #1f364f transparent
}
.ball-triangle-path>div {
  border: 1px solid #1f364f
}
.ball-scale-ripple-multiple>div,
.ball-scale-ripple>div {
  border: 2px solid #1f364f
}
.triangle-skew-spin>div {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #1f364f
}
.pacman>div:first-of-type,
.pacman>div:nth-child(2) {
  border-right: 25px solid transparent;
  border-top: 25px solid #1f364f;
  border-left: 25px solid #1f364f;
  border-bottom: 25px solid #1f364f
}
.semi-circle-spin>div {
  background-image: -webkit-linear-gradient(transparent 0, transparent 70%, #1f364f 30%, #1f364f 100%);
  background-image: linear-gradient(transparent 0, transparent 70%, #1f364f 30%, #1f364f 100%)
}
.dropdown-menu {
  border: 1px solid #e6e6e6;
  border-radius: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
}
.dropdown-menu>li>a {
  padding: 7px 20px;
  color: #737373
}
.dropdown-menu>li>a>img {
  margin-right: 8px
}
.dm-large {
  width: 400px
}
.dm-medium {
  width: 340px
}
.dm-small {
  width: 280px
}
.dropdown-header {
  padding: 5px 20px
}
.btn-group.open .dropdown-toggle {
  box-shadow: none
}
.input-group-addon {
  border-color: #e6e6e6;
  background-color: transparent;
  font-size: 14px
}
.tab-content .tab-pane {
  display: none
}
.brand,
.tab-content .active {
  display: block
}
.pagination>li>a,
.pagination>li>span {
  color: #737373;
  border: 1px solid #e6e6e6
}
.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
  color: #737373;
  border-color: #e6e6e6
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  background-color: #1f364f;
  border-color: #1f364f
}
.label {
  border-radius: 2px;
  font-weight: 500;
  padding: 3px 6px
}
.label-default {
  background-color: #9a9a9a
}
.label-default[href]:focus,
.label-default[href]:hover {
  background-color: grey
}
.label-primary {
  background-color: #0667D6
}
.label-primary[href]:focus,
.label-primary[href]:hover {
  background-color: #054fa4
}
.label-success {
  background-color: #17A88B
}
.label-success[href]:focus,
.label-success[href]:hover {
  background-color: #117b66
}
.label-purple {
  background-color: #8E23E0
}
.label-purple[href]:focus,
.label-purple[href]:hover {
  background-color: #721ab6
}
.label-info {
  background-color: #0FB3FF
}
.label-info[href]:focus,
.label-info[href]:hover {
  background-color: #0096db
}
.label-warning {
  background-color: #FFB61E
}
.label-warning[href]:focus,
.label-warning[href]:hover {
  background-color: #ea9e00
}
.label-danger {
  background-color: #E5343D
}
.label-danger[href]:focus,
.label-danger[href]:hover {
  background-color: #cc1a23
}
.label-outline.label-default {
  background-color: transparent;
  color: #9a9a9a;
  border: 1px solid #9a9a9a
}
.label-outline.label-primary {
  background-color: transparent;
  color: #0667D6;
  border: 1px solid #0667D6
}
.label-outline.label-success {
  background-color: transparent;
  color: #17A88B;
  border: 1px solid #17A88B
}
.label-outline.label-purple {
  background-color: transparent;
  color: #8E23E0;
  border: 1px solid #8E23E0
}
.label-outline.label-info {
  background-color: transparent;
  color: #0FB3FF;
  border: 1px solid #0FB3FF
}
.label-outline.label-warning {
  background-color: transparent;
  color: #FFB61E;
  border: 1px solid #FFB61E
}
.label-outline.label-danger {
  background-color: transparent;
  color: #E5343D;
  border: 1px solid #E5343D
}
.dot,
.dot:before {
  border-radius: 50%
}
.badge {
  font-size: 10px;
  min-width: 14px;
  height: 14px;
  line-height: 14px;
  padding: 0;
  font-weight: 600
}
.dot {
  width: 8px;
  height: 8px
}
.dot:before {
  content: "";
  position: absolute;
  top: -9px;
  left: -9px;
  width: 26px;
  height: 26px;
  border-width: 3px;
  border-style: solid;
  -webkit-animation: scaling 2s ease-out infinite;
  -moz-animation: scaling 2s ease-out infinite;
  -o-animation: scaling 2s ease-out infinite;
  animation: scaling 2s ease-out infinite
}
.dot.bg-success:before {
  border-color: #17A88B
}
.dot.bg-warning:before {
  border-color: #FFB61E
}
.dot.bg-danger:before {
  border-color: #E5343D
}
.progress {
  border-radius: 0;
  box-shadow: none
}
.progress-bar {
  background-color: #0667D6;
  box-shadow: none
}
.progress-xs {
  height: 3px
}
.progress-xs.vertical {
  width: 3px
}
.progress-sm {
  height: 12px
}
.progress-sm .progress-bar,
.progress-sm .progress-bar .progressbar-front-text {
  line-height: 12px;
  font-size: 10px
}
.progress-sm.vertical {
  width: 12px
}
.progress-lg {
  height: 30px
}
.progress-lg .progress-bar,
.progress-lg .progress-bar .progressbar-front-text {
  line-height: 30px
}
.progress-lg.vertical {
  width: 30px
}
.progress-bar-white {
  background-color: #FFF
}
.progress-bar-success {
  background-color: #17A88B
}
.progress-bar-info {
  background-color: #0FB3FF
}
.progress-bar-purple {
  background-color: #8E23E0
}
.progress-bar-warning {
  background-color: #FFB61E
}
.progress-bar-danger {
  background-color: #E5343D
}
.avatar {
  position: relative
}
.avatar .media-object {
  width: 34px;
  height: 34px;
  line-height: 34px
}
.avatar .status {
  position: absolute;
  top: 0;
  left: 26px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid #FFF
}
.avatar.media-right .status {
  left: 36px
}
.mo-xs {
  width: 28px;
  height: 28px;
  line-height: 28px
}
.mo-sm {
  width: 34px;
  height: 34px;
  line-height: 34px
}
.mo-lg {
  width: 48px;
  height: 48px;
  line-height: 48px
}
.list-group-item {
  border: 1px solid #e6e6e6
}
.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
  background-color: #1f364f;
  border-color: #1f364f
}
.brand {
  width: 250px;
  line-height: 64px
}
.notification-bar {
  margin: 0
}
.notification-bar>li {
  float: left;
  padding: 0
}
.notification-bar .bubble {
  position: relative
}
.notification-bar .bubble .badge {
  position: absolute;
  top: 18px;
  left: 27px
}
.notification-bar .bubble .dot {
  position: absolute;
  top: 21px;
  left: 30px
}
.notification-bar .dropdown.open {
  position: relative
}
.notification-bar .dropdown.open:before {
  position: absolute;
  bottom: -17.5px;
  left: 50%;
  content: "";
  width: 0;
  height: 0;
  box-sizing: border-box;
  border-width: 7px;
  border-style: solid;
  border-color: #FFF #FFF transparent transparent;
  margin-left: -7px;
  box-shadow: 2px -2px 2px rgba(31, 54, 79, .05);
  z-index: 1020;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg)
}
@media (max-width: 767px) {
  .notification-bar .dropdown.open:before {
    display: none
  }
}
.notification-bar .dropdown-header {
  text-transform: uppercase;
  padding: 15px 20px;
  margin: 0;
  border-bottom: 1px solid #e6e6e6
}
.notification-bar .dropdown-menu {
  margin-top: 0;
  border: none;
  padding: 0;
  top: 73.5px;
  box-shadow: 0 2px 10px 2px rgba(31, 54, 79, .1)
}
.notification-bar .dropdown-menu>ul {
  min-height: 120px;
  max-height: 236px
}
.notification-bar .dropdown-menu>ul li>a {
  padding: 12px 20px;
  color: #737373;
  display: block
}
.notification-bar .dropdown-menu>ul li>a:hover {
  background-color: #fafafa
}
.notification-bar .dropdown-footer {
  border-top: 1px solid #e6e6e6
}
.page-header {
  padding: 24px
}
.page-header [class^=col]:nth-child(2) {
  text-align: right
}
.page-content {
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
  min-height: 800px
}
.md-overlay,
.search-bar {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s
}
@media (max-width: 767px) {
  header .brand {
    display: none
  }
  .main-container {
    width: 100%
  }
  .notification-bar>li.dropdown.open {
    position: static
  }
  .notification-bar>li.dropdown.open .dropdown-menu {
    width: 100%;
    top: 64px
  }
  .page-header [class^=col]:nth-child(2) {
    text-align: left
  }
  .page-content {
    padding-left: 12px;
    padding-right: 12px
  }
}
.conversation,
.right-sidebar,
.setting {
  width: 260px;
  -webkit-backface-visibility: hidden!important;
  -moz-backface-visibility: hidden!important;
  -ms-backface-visibility: hidden!important
}
.search-bar.closed {
  opacity: 0;
  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  -o-transform: translate(0, -100%);
  transform: translate(0, -100%)
}
.search-bar form {
  margin: 9px
}
.search-bar form .form-control {
  border: none
}
.search-bar form .btn,
.search-bar form .btn.active,
.search-bar form .btn.focus,
.search-bar form .btn:active,
.search-bar form .btn:focus,
.search-bar form .btn:hover {
  background-color: transparent!important;
  border-color: transparent!important
}
.conversation,
.right-sidebar {
  position: fixed;
  top: 64px;
  right: 0;
  z-index: 1030;
  background-color: #FFF;
  box-shadow: -1px 0 4px rgba(31, 54, 79, .2);
  opacity: 1;
  -lh-property: 0;
  height: -webkit-calc(100% - 64px);
  height: -moz-calc(100% - 64px);
  height: calc(100% - 64px);
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: -webkit-transform .3s, opacity .3s;
  -moz-transition: -moz-transform .3s, opacity .3s;
  -o-transition: -o-transform .3s, opacity .3s;
  transition: -webkit-transform .3s, -moz-transform .3s, -o-transform .3s, transform .3s, opacity .3s;
  -o-backface-visibility: hidden!important;
  backface-visibility: hidden!important
}
.conversation.closed,
.right-sidebar.closed {
  opacity: 0;
  -webkit-transform: translate(100%, 0);
  -moz-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  -o-transform: translate(100%, 0);
  transform: translate(100%, 0)
}
.chat-list {
  margin-left: -20px;
  margin-right: -20px
}
.chat-list li>a {
  padding: 12px 20px;
  display: block;
  color: #737373
}
.chat-list li>a:hover {
  background-color: #fafafa
}
.chat-content {
  -lh-property: 0;
  height: -webkit-calc(100% - 119px);
  height: -moz-calc(100% - 119px);
  height: calc(100% - 119px)
}
.widget {
  margin-bottom: 24px;
  border: 1px solid #e6e6e6
}
.widget.clear {
  border: none
}
.widget.clear .widget-body,
.widget.clear .widget-heading {
  padding-left: 0;
  padding-right: 0
}
.widget-heading {
  padding: 15px 20px;
  border-bottom: 1px solid #e6e6e6
}
.widget-tools {
  margin-bottom: 0
}
.widget-tools>li {
  float: left;
  padding: 0 10px
}
.widget-tools>li:last-child {
  padding-right: 0
}
.widget-tools>li a {
  color: #9a9a9a
}
.widget-title {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  color: #1f364f
}
.widget-body {
  padding: 20px
}
.chat-content .media-body p {
  background-color: #e6e6e6;
  padding: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-bottom: 5px
}
.chat-content .other .media-body p {
  background-color: #1f364f;
  color: #FFF;
  border-top-right-radius: 0;
  border-bottom-left-radius: 15px
}
.activities .media-left {
  min-width: 90px;
  position: absolute;
  right: 100%;
}
.activities>li {
  position: relative;
  padding: 5px 0 10px 20px;
  margin-left: 90px;
}
.activities>li:after,
.activities>li:before {
  content: "";
  position: absolute
}
.activities>li:before {
  left: 5px;
  top: 0;
  height: 100%;
  border-left: 1px solid #e6e6e6
}
.activities>li:after {
  left: 0;
  top: 10px;
  height: 11px;
  width: 11px;
  border-radius: 50%;
  border: 2px solid #9a9a9a;
  background-color: #FFF
}
.md-modal,
.md-overlay {
  position: fixed;
  visibility: hidden
}
.activities li.activity-primary:after {
  border-color: #0667D6
}
.activities li.activity-success:after {
  border-color: #17A88B
}
.activities li.activity-info:after {
  border-color: #0FB3FF
}
.activities li.activity-warning:after {
  border-color: #FFB61E
}
.activities li.activity-danger:after {
  border-color: #E5343D
}
.events-header {
  font-size: 20px;
  font-weight: 300;
  height: 60px;
  line-height: 60px;
  background-color: rgba(0, 0, 0, .1);
  text-align: center
}
.draggable li {
  padding: 12px 0;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  cursor: move
}
.draggable li:first-child {
  padding-top: 0
}
.draggable li.ui-draggable-dragging {
  padding: 12px 10px;
  background-color: #FFF;
  border-bottom: none;
  color: #737373;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
}
.flotTip {
  font-size: 12px;
  background-color: #1f364f;
  color: #FFF;
  padding: 5px 8px;
  z-index: 900;
  border-radius: 3px
}
.legendColorBox div {
  border-radius: 50%
}
.legendLabel {
  padding-left: 3px;
  padding-right: 10px;
  line-height: 2
}
.ct-golden-section:before {
  padding-bottom: 0
}
.ct-label {
  font-size: 11px;
  color: #9a9a9a
}
.ct-series-a .ct-bar,
.ct-series-a .ct-line,
.ct-series-a .ct-point,
.ct-series-a .ct-slice-donut {
  stroke: #0667D6
}
.ct-series-a .ct-area,
.ct-series-a .ct-slice-pie {
  fill: #0667D6
}
.ct-series-b .ct-bar,
.ct-series-b .ct-line,
.ct-series-b .ct-point,
.ct-series-b .ct-slice-donut {
  stroke: #1f364f
}
.ct-series-b .ct-area,
.ct-series-b .ct-slice-pie {
  fill: #1f364f
}
.ct-series-c .ct-bar,
.ct-series-c .ct-line,
.ct-series-c .ct-point,
.ct-series-c .ct-slice-donut {
  stroke: #17A88B
}
.ct-series-c .ct-area,
.ct-series-c .ct-slice-pie {
  fill: #17A88B
}
.ct-series-d .ct-bar,
.ct-series-d .ct-line,
.ct-series-d .ct-point,
.ct-series-d .ct-slice-donut {
  stroke: #8E23E0
}
.ct-series-d .ct-area,
.ct-series-d .ct-slice-pie {
  fill: #8E23E0
}
.ct-series-e .ct-bar,
.ct-series-e .ct-line,
.ct-series-e .ct-point,
.ct-series-e .ct-slice-donut {
  stroke: #E5343D
}
.ct-series-e .ct-area,
.ct-series-e .ct-slice-pie {
  fill: #E5343D
}
.ct-series-f .ct-bar,
.ct-series-f .ct-line,
.ct-series-f .ct-point,
.ct-series-f .ct-slice-donut {
  stroke: #FFB61E
}
.ct-series-f .ct-area,
.ct-series-f .ct-slice-pie {
  fill: #FFB61E
}
.ct-series-g .ct-bar,
.ct-series-g .ct-line,
.ct-series-g .ct-point,
.ct-series-g .ct-slice-donut {
  stroke: #0FB3FF
}
.ct-series-g .ct-area,
.ct-series-g .ct-slice-pie {
  fill: #0FB3FF
}
.md-overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1050;
  transition: all .3s
}
.md-modal {
  top: 50%;
  left: 50%;
  width: 96%;
  margin: 30px auto;
  z-index: 1060;
  -webkit-backface-visibility: hidden!important;
  -moz-backface-visibility: hidden!important;
  -ms-backface-visibility: hidden!important;
  -o-backface-visibility: hidden!important;
  backface-visibility: hidden!important;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%)
}
.md-modal .modal-center {
  float: none;
  margin: 0 auto
}
.md-modal.md-show {
  visibility: visible
}
.md-modal.md-show~.md-overlay {
  opacity: 1;
  visibility: visible
}
.md-modal .md-close {
  position: absolute;
  top: -17px;
  right: -17px;
  border-radius: 50%;
  height: 34px;
  line-height: 34px;
  width: 34px;
  padding: 0;
  text-align: center;
  box-shadow: 0 2px 4px rgba(31, 54, 79, .8)
}
.md-modal .widget {
  margin-bottom: 0
}
.md-modal .md-content {
  background-color: #FFF;
  box-shadow: 0 5px 10px rgba(31, 54, 79, .8);
  position: relative;
  -webkit-transform: scale(.7);
  -moz-transform: scale(.7);
  -ms-transform: scale(.7);
  -o-transform: scale(.7);
  transform: scale(.7);
  opacity: 0;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s
}
.md-modal.md-show .md-content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1
}
@media (min-width: 768px) {
  .md-modal {
    width: 600px
  }
}
@media (min-width: 992px) {
  .md-modal {
    width: 900px
  }
}
.morris-hover.morris-default-style {
  font-size: 12px;
  background-color: #FFF;
  padding: 5px 8px;
  z-index: 900;
  border: 1px solid #e6e6e6;
  border-radius: 3px
}
.chartjs canvas {
  width: 100%!important;
  max-width: 1000px;
  height: auto!important
}
.docs-cropped .modal-body>canvas,
.docs-cropped .modal-body>img,
.img-container>img,
.img-preview>img {
  max-width: 100%
}
.jvectormap-zoomout {
  top: 35px
}
.jvectormap-zoomin,
.jvectormap-zoomout {
  line-height: 24px;
  width: 24px;
  height: 24px;
  color: #737373;
  background-color: #FFF;
  font-size: 16px;
  padding: 0;
  border: 1px solid #e6e6e6;
  border-radius: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
}
.easy-pie-chart {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 120px;
  line-height: 80px;
  padding: 20px;
  text-align: center
}
.easy-pie-chart canvas {
  position: absolute;
  top: 0;
  left: 0
}
.easy-pie-chart .percent {
  position: absolute;
  top: 35px;
  left: 35px;
  line-height: 40px;
  width: 50px;
  height: 50px;
  background-color: #e6e6e6;
  border: 5px solid #fafafa;
  border-radius: 50%
}
.bootstrap-select .dropdown-toggle:focus {
  outline: 0!important
}
.minicolors-swatch {
  border: none
}
.ms-container {
  width: 100%
}
.ms-container .ms-list {
  box-shadow: none;
  border: 1px solid #e6e6e6;
  height: 280px
}
.ms-container .ms-selectable li.ms-elem-selectable,
.ms-container .ms-selection li.ms-elem-selection {
  padding: 5px 10px
}
.clockface .inner.active.active,
.clockface .inner.active.disabled,
.clockface .inner.active:active,
.clockface .inner.active:hover,
.clockface .inner.active:hover.active,
.clockface .inner.active:hover.disabled,
.clockface .inner.active:hover:active,
.clockface .inner.active:hover:hover,
.clockface .inner.active:hover[disabled],
.clockface .inner.active[disabled] {
  background-color: #0667D6
}
.clockface .outer.active.active,
.clockface .outer.active.disabled,
.clockface .outer.active:active,
.clockface .outer.active:hover,
.clockface .outer.active:hover.active,
.clockface .outer.active:hover.disabled,
.clockface .outer.active:hover:active,
.clockface .outer.active:hover:hover,
.clockface .outer.active:hover[disabled],
.clockface .outer.active[disabled] {
  background-color: #17A88B
}
.clockface .inner.active,
.clockface .inner.active:hover,
.clockface .outer.active,
.clockface .outer.active:hover {
  background-image: none
}
.clockface .inner,
.clockface .outer {
  border-radius: 2px
}
.dropzone,
.uploader {
  border: 2px dashed #e6e6e6
}
.dropzone {
  background-color: #fafafa
}
.dropzone .dz-message {
  padding: 50px 0;
  margin: 0;
  color: #9a9a9a
}
.dropzone .dz-message .icon-dz {
  display: block;
  font-size: 64px;
  color: #e6e6e6;
  margin-bottom: 15px
}
.uploader {
  font-weight: 300;
  font-size: 30px;
  color: #e6e6e6
}
.uploader div.or {
  color: #e6e6e6;
  font-weight: 600
}
.uploader div.browser label {
  background-color: #1f364f;
  font-weight: 500;
  padding: 8px 15px;
  display: inline-block;
  width: auto;
  font-size: 13px;
  border-radius: 4px;
  box-shadow: 0 3px 0 0 #111d2b
}
.uploader div.browser label:hover {
  background-color: #18293d
}
.uploader div.browser label:focus {
  background-color: #111d2b;
  outline: 0
}
.daterangepicker .ranges li {
  background-color: transparent;
  border-color: transparent;
  border-radius: 3px;
  color: #737373
}
.daterangepicker .ranges li.active,
.daterangepicker .ranges li:hover {
  background-color: #1f364f;
  border-color: #1f364f
}
.daterangepicker .input-mini {
  border-color: #e6e6e6
}
.daterangepicker .input-mini.active,
.daterangepicker .input-mini:focus {
  outline: 0;
  border-color: #66afe9
}
.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #1f364f
}
.daterangepicker td.start-date {
  border-radius: 2px 0 0 2px
}
.daterangepicker td.end-date {
  border-radius: 0 2px 2px 0
}
.datepicker table tr td.active.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:focus,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.disabled:hover:focus,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:active,
.datepicker table tr td.active:focus,
.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active:hover:focus,
.datepicker table tr td.active:hover:hover,
.open .dropdown-toggle.datepicker table tr td.active,
.open .dropdown-toggle.datepicker table tr td.active.disabled,
.open .dropdown-toggle.datepicker table tr td.active.disabled:hover,
.open .dropdown-toggle.datepicker table tr td.active:hover {
  background-color: #1f364f;
  border-radius: 2px;
  border-color: #1f364f
}
.bootstrap-datetimepicker-widget table td span.active {
  background-color: #1f364f;
  text-shadow: none
}
.bootstrap-datetimepicker-widget a[data-action] {
  color: #737373
}
.note-editor.note-frame {
  border: 1px solid #e6e6e6
}
.md-editor.active {
  border-color: #e6e6e6;
  box-shadow: none
}
.md-editor>.md-preview,
.md-editor>textarea {
  background-color: #FFF;
  border-top: 1px solid #e6e6e6;
  border-bottom: none;
  padding: 10px
}
.bootstrap-duallistbox-container select {
  padding: 6px 12px;
  overflow-y: auto
}
.bootstrap-duallistbox-container select:focus {
  border-color: #e6e6e6
}
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
  list-style-type: decimal!important
}
.toast-title {
  font-weight: 600
}
#toast-container>div {
  border-radius: 0;
  box-shadow: none;
  opacity: 1;
  color: #737373;
  background-color: #FFF;
  padding: 15px 15px 15px 65px;
  width: 300px;
  min-height: 74px
}
#toast-container>.toast {
  background-image: none!important
}
#toast-container>:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
}
.toast-close-button {
  height: 20px;
  width: 20px;
  color: #737373;
  top: -5px;
  right: -5px;
  outline: 0
}
.toast:before {
  font-family: themify;
  font-size: 30px;
  position: absolute;
  top: 15px;
  left: 15px;
  border-radius: 50%;
  color: #FFF;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center
}
.toast-success {
  border: 2px solid #17A88B
}
.toast-success .toast-title {
  color: #149278
}
.toast-success .toast-progress {
  background-color: #1abe9e
}
.toast-success:before {
  content: "\e64d";
  color: #149278
}
.toast-info {
  border: 2px solid #0FB3FF
}
.toast-info .toast-title {
  color: #00a7f5
}
.toast-info .toast-progress {
  background-color: #29bbff
}
.toast-info:before {
  content: "\e717";
  color: #00a7f5
}
.toast-error:before,
.toast-warning:before {
  content: "\e6c5"
}
.toast-warning {
  border: 2px solid #FFB61E
}
.toast-warning .toast-title {
  color: #ffae04
}
.toast-warning .toast-progress {
  background-color: #ffbe38
}
.toast-warning:before {
  color: #ffae04
}
.toast-error {
  border: 2px solid #E5343D
}
.toast-error .toast-title {
  color: #e21d27
}
.toast-error .toast-progress {
  background-color: #e84b53
}
.toast-error:before {
  color: #e21d27
}
.wizard>.content>.body input {
  border: 1px solid #e6e6e6
}
.wizard>.content>.body label {
  margin-bottom: 0
}
.wizard>.steps a,
.wizard>.steps a:active,
.wizard>.steps a:hover {
  margin: 3px;
  border-radius: 0;
  padding: 15px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
}
.wizard>.steps .current a,
.wizard>.steps .current a:active,
.wizard>.steps .current a:hover {
  background-color: #1f364f;
  color: #FFF
}
.wizard>.steps .disabled a,
.wizard>.steps .disabled a:active,
.wizard>.steps .disabled a:hover,
.wizard>.steps .done a,
.wizard>.steps .done a:active,
.wizard>.steps .done a:hover {
  background-color: #e6e6e6;
  color: #9a9a9a
}
.wizard>.steps .current a .number,
.wizard>.steps .current a:active .number,
.wizard>.steps .current a:hover .number {
  border: 2px solid #FFF
}
.wizard>.steps .disabled a .number,
.wizard>.steps .disabled a:active .number,
.wizard>.steps .disabled a:hover .number,
.wizard>.steps .done a .number,
.wizard>.steps .done a:active .number,
.wizard>.steps .done a:hover .number {
  border-color: #9a9a9a
}
.wizard>.content {
  background-color: transparent;
  margin: 0 5px;
  border-radius: 0;
  min-height: 150px
}
.tabcontrol>.content {
  overflow-y: auto
}
.wizard>.content>.body {
  width: 100%;
  height: 100%;
  padding: 15px 0 0;
  position: static
}
.wizard>.steps .number {
  font-size: 16px;
  padding: 5px;
  border-radius: 50%;
  border: 2px solid #FFF;
  width: 36px;
  display: inline-block;
  font-weight: 600;
  text-align: center
}
.docs-options .dropdown-menu>li>label,
.docs-tooltip {
  display: block
}
.wizard>.actions .disabled a,
.wizard>.actions .disabled a:active,
.wizard>.actions .disabled a:hover {
  opacity: .65;
  background-color: #e6e6e6;
  color: #737373;
  cursor: not-allowed;
  box-shadow: 0 3px 0 0 #cdcdcd
}
.wizard>.actions a,
.wizard>.actions a:active,
.wizard>.actions a:hover {
  background-color: #1f364f;
  border-radius: 4px;
  padding: 8px 15px;
  box-shadow: 0 3px 0 0 #111d2b
}
table.dataTable tbody>tr.selected,
table.dataTable tbody>tr>.selected {
  background-color: #1f364f
}
.img-container,
.img-preview {
  background-color: #f7f7f7;
  overflow: hidden;
  width: 100%;
  text-align: center
}
.img-container {
  min-height: 200px;
  max-height: 554px;
  margin-bottom: 20px
}
.docs-data>.input-group,
.docs-preview,
.docs-toggles>.btn,
.docs-toggles>.btn-group,
.docs-toggles>.dropdown,
.img-preview {
  margin-bottom: 10px
}
@media (min-width: 768px) {
  .img-container {
    min-height: 554px
  }
}
.docs-preview {
  margin-right: -15px
}
.img-preview {
  float: left;
  margin-right: 10px
}
.preview-lg {
  width: 263px;
  height: 148px
}
.preview-md {
  width: 139px;
  height: 78px
}
.preview-sm {
  width: 69px;
  height: 39px
}
.preview-xs {
  width: 35px;
  height: 20px;
  margin-right: 0
}
.docs-data>.input-group>label {
  min-width: 80px
}
.docs-data>.input-group>span {
  min-width: 50px
}
.docs-buttons>.btn,
.docs-buttons>.btn-group,
.docs-buttons>.form-control {
  margin-right: 5px;
  margin-bottom: 10px
}
.docs-tooltip {
  margin: -6px -12px;
  padding: 6px 12px
}
.docs-tooltip>.icon {
  margin: 0 -3px;
  vertical-align: top
}
.tooltip-inner {
  white-space: normal
}
.btn-upload .tooltip-inner {
  white-space: nowrap
}
@media (max-width: 400px) {
  .btn-group-crop .docs-tooltip,
  .btn-group-crop>.btn {
    padding-left: 5px;
    padding-right: 5px
  }
  .btn-group-crop {
    margin-right: -15px!important
  }
  .btn-group-crop .docs-tooltip {
    margin-left: -5px;
    margin-right: -5px
  }
}
.docs-options .dropdown-menu {
  width: 100%
}
.docs-options .dropdown-menu>li {
  padding: 5px 20px
}
.docs-options .dropdown-menu>li .checkbox {
  margin: 5px 0
}
.docs-options .dropdown-menu>li:hover {
  background-color: #f7f7f7
}
.docs-cropped .modal-body {
  text-align: center
}
.bg-overlay {
  position: relative;
  color: #FFF;
  z-index: -1
}
.bg-overlay:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(24, 41, 61, .6);
  z-index: -1
}
.bg-overlay hr {
  border-color: rgba(255, 255, 255, .2)
}
.lh-1 {
  line-height: 1!important
}
.bd-t {
  border-top: 1px solid #e6e6e6
}
.bd-r {
  border-right: 1px solid #e6e6e6
}
.bd-b {
  border-bottom: 1px solid #e6e6e6
}
.bd-l {
  border-left: 1px solid #e6e6e6
}
.no-shadow {
  box-shadow: none!important
}
.no-border {
  border: none!important
}
.inline-block {
  display: inline-block!important
}
.inline {
  display: inline!important
}
.block {
  display: block!important
}
.fw-300 {
  font-weight: 300!important
}
.fw-400 {
  font-weight: 400!important
}
.fw-500 {
  font-weight: 500!important
}
.fw-600 {
  font-weight: 600!important
}
.fw-700 {
  font-weight: 700!important
}
.fs-10 {
  font-size: 10px!important
}
.fs-11 {
  font-size: 11px!important
}
.fs-12 {
  font-size: 12px!important
}
.fs-13 {
  font-size: 13px!important
}
.fs-14 {
  font-size: 14px!important
}
.fs-15{
  font-size: 15px!important;
}
.fs-16 {
  font-size: 16px!important
}
.fs-18 {
  font-size: 18px!important
}
.fs-20 {
  font-size: 20px!important
}
.fs-22 {
  font-size: 22px!important
}
.fs-24 {
  font-size: 24px!important
}
.fs-30 {
  font-size: 30px!important
}
.fs-36 {
  font-size: 36px!important
}
.fs-60 {
  font-size: 60px!important
}
.fs-100 {
  font-size: 100px!important
}
.m-0 {
  margin: 0!important
}
.m-5 {
  margin: 5px!important
}
.m-10 {
  margin: 10px!important
}
.m-15 {
  margin: 15px!important
}
.m-20 {
  margin: 20px!important
}
.m-25 {
  margin: 25px!important
}
.m-30 {
  margin: 30px!important
}
.mt-0 {
  margin-top: 0!important
}
.mt-5 {
  margin-top: 5px!important
}
.mt-10 {
  margin-top: 10px!important
}
.mt-15 {
  margin-top: 15px!important
}
.mt-20 {
  margin-top: 20px!important
}
.mt-25 {
  margin-top: 25px!important
}
.mt-30 {
  margin-top: 30px!important
}
.mr-0 {
  margin-right: 0!important
}
.mr-5 {
  margin-right: 5px!important
}
.mr-10 {
  margin-right: 10px!important
}
.mr-15 {
  margin-right: 15px!important
}
.mr-20 {
  margin-right: 20px!important
}
.mr-25 {
  margin-right: 25px!important
}
.mr-30 {
  margin-right: 30px!important
}
.mb-0 {
  margin-bottom: 0!important
}
.mb-5 {
  margin-bottom: 5px!important
}
.mb-10 {
  margin-bottom: 10px!important
}
.mb-15 {
  margin-bottom: 15px!important
}
.mb-20 {
  margin-bottom: 20px!important
}
.mb-25 {
  margin-bottom: 25px!important
}
.mb-30 {
  margin-bottom: 30px!important
}
.ml-0 {
  margin-left: 0!important
}
.ml-5 {
  margin-left: 5px!important
}
.ml-10 {
  margin-left: 10px!important
}
.ml-15 {
  margin-left: 15px!important
}
.ml-20 {
  margin-left: 20px!important
}
.ml-25 {
  margin-left: 25px!important
}
.ml-30 {
  margin-left: 30px!important
}
.p-0 {
  padding: 0!important
}
.p-5 {
  padding: 5px!important
}
.p-10 {
  padding: 10px!important
}
.p-15 {
  padding: 15px!important
}
.p-20 {
  padding: 20px!important
}
.p-25 {
  padding: 25px!important
}
.p-30 {
  padding: 30px!important
}
.pt-0 {
  padding-top: 0!important
}
.pt-5 {
  padding-top: 5px!important
}
.pt-10 {
  padding-top: 10px!important
}
.pt-15 {
  padding-top: 15px!important
}
.pt-20 {
  padding-top: 20px!important
}
.pt-25 {
  padding-top: 25px!important
}
.pt-30 {
  padding-top: 30px!important
}
.pr-0 {
  padding-right: 0!important
}
.pr-5 {
  padding-right: 5px!important
}
.pr-10 {
  padding-right: 10px!important
}
.pr-15 {
  padding-right: 15px!important
}
.pr-20 {
  padding-right: 20px!important
}
.pr-25 {
  padding-right: 25px!important
}
.pr-30 {
  padding-right: 30px!important
}
.pb-0 {
  padding-bottom: 0!important
}
.pb-5 {
  padding-bottom: 5px!important
}
.pb-10 {
  padding-bottom: 10px!important
}
.pb-15 {
  padding-bottom: 15px!important
}
.pb-20 {
  padding-bottom: 20px!important
}
.pb-25 {
  padding-bottom: 25px!important
}
.pb-30 {
  padding-bottom: 30px!important
}
.pl-0 {
  padding-left: 0!important
}
.pl-5 {
  padding-left: 5px!important
}
.pl-10 {
  padding-left: 10px!important
}
.pl-15 {
  padding-left: 15px!important
}
.pl-20 {
  padding-left: 20px!important
}
.pl-25 {
  padding-left: 25px!important
}
.pl-30 {
  padding-left: 30px!important
}
.fc-toolbar {
  background-color: #1f364f;
  padding: 10px;
  margin-bottom: 0;
  height: 60px
}
.fc-toolbar h2 {
  font-weight: 300;
  color: #FFF;
  margin: 5px 0;
  line-height: 1
}
.fc-view-container {
  background-color: #FFF;
  color: #737373
}
.fc button {
  font-size: 14px;
  padding: 10px;
  height: auto
}
.fc-icon {
  font-family: themify
}
.fc-state-default {
  background-color: rgba(255, 255, 255, .05);
  color: #FFF;
  border-style: none;
  text-shadow: none;
  background-image: none;
  box-shadow: none
}
.fc-state-default:hover {
  outline: 0;
  background-color: #18293d
}
.fc-state-default.focus,
.fc-state-default:focus {
  outline: 0
}
.fc-unthemed .fc-today {
  background-color: #fafafa
}
.mailbox .inbox {
  border-right: 1px solid #e6e6e6
}
.mailbox .inbox li {
  margin-top: 0;
  padding: 15px 20px;
  border-bottom: 1px solid #e6e6e6
}
.mailbox .inbox li.active {
  box-shadow: inset -5px 0 #1f364f
}
.mailbox .inbox li.read {
  background-color: #fafdff
}
.mailbox .inbox li>a {
  display: block;
  color: #737373
}
.mailbox .inbox li .title {
  font-weight: 400;
  margin: 3px 0
}
.mailbox .inbox li .summary {
  color: #9a9a9a;
  font-size: 12px;
  margin-bottom: 0
}
.mailbox .single-mail {
  margin-left: -1px;
  border-left: 1px solid #e6e6e6;
  padding: 15px 20px
}
.body-bg-full {
  background-attachment: fixed;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  .page-container{
    padding: 0;
    display: table;
    width: 100%;
    height: 100%;
    background-color: rgba(24, 41, 61, .5);
    .page-content {
      padding: 24px;
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      min-height: auto;
      width: auto;
      .v2 {
        background-color: #FFF;
        margin: 0 auto;
        width: 360px;
        padding: 30px;
        box-shadow: 0 5px 10px rgba(31, 54, 79, .5);
        @media all and (max-width: 480px) {
          width: 100%;
        }
      }
    }
  }
}
.body-bg-full .logo {
  margin-bottom: 30px;
}
.body-bg-full .form-control {
  border-radius: 0;
  background-color: transparent;
  border-color: transparent transparent rgba(255, 255, 255, .1);
  color: #FFF;
  text-align: center
}
.body-bg-full .form-control::-webkit-input-placeholder {
  color: #FFF
}
.body-bg-full .form-control:-moz-placeholder {
  color: #FFF
}
.body-bg-full .form-control::-moz-placeholder {
  color: #FFF
}
.body-bg-full .form-control:-ms-input-placeholder {
  color: #FFF
}
.body-bg-full hr {
  border-color: rgba(255, 255, 255, .1)
}
.body-bg-full .setting,
.body-bg-full .setting .setting-toggle {
  border-color: transparent;
  background-color: rgba(255, 255, 255, .1)
}
.body-bg-full .setting .setting-toggle {
  left: -48px
}
.body-bg-full.v2 .form-control {
  border-color: transparent transparent #e6e6e6;
  color: $text-color-main!important;
}
.body-bg-full.v2 .form-control::-webkit-input-placeholder {
  color: #737373
}
.body-bg-full.v2 .form-control:-moz-placeholder {
  color: #737373
}
.body-bg-full.v2 .form-control::-moz-placeholder {
  color: #737373
}
.body-bg-full.v2 .form-control:-ms-input-placeholder {
  color: #737373
}
.body-bg-full.v2 hr {
  border-color: #e6e6e6
}
.body-bg-full.v2 .setting,
.body-bg-full.v2 .setting .setting-toggle {
  background-color: #FFF
}
.pricing-table .pricing-item {
  margin-bottom: 24px;
  text-align: center
}
.pricing-table.pricing-1 .pricing-item {
  padding: 40px;
  background-color: #fafafa;
  border-top: 3px solid transparent;
  -webkit-transition: border-color .3s;
  -moz-transition: border-color .3s;
  -o-transition: border-color .3s;
  transition: border-color .3s
}
.pricing-table.pricing-1 .pricing-item:hover {
  border-color: #0667D6
}
.pricing-table.pricing-1 .pricing-title {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  text-align: left;
  padding-bottom: 15px
}
.pricing-table.pricing-1 .pricing-price {
  font-size: 36px;
  font-weight: 600;
  padding: 15px 0;
  text-align: left;
  border-top: 3px solid #e6e6e6
}
.pricing-table.pricing-1 .pricing-currency {
  font-size: 20px;
  vertical-align: super
}
.pricing-table.pricing-1 .pricing-period {
  font-size: 14px;
  font-weight: 400;
  padding-left: 5px;
  color: #9a9a9a
}
.pricing-table.pricing-1 .pricing-sentence {
  padding: 15px 0;
  text-align: left;
  font-size: 16px;
  font-weight: 600;
  color: #9a9a9a;
  border-bottom: 3px solid #e6e6e6
}
.pricing-table.pricing-1 .pricing-feature-list {
  text-align: right;
  padding: 15px 0
}
.pricing-table.pricing-1 .pricing-feature-list>li {
  font-style: italic;
  line-height: 1.6
}
.pricing-table.pricing-2 .pricing-item {
  background-color: #abd1fd;
  border-radius: 10px;
  color: #FFF;
  padding: 15px;
  -webkit-transition: background-color .3s;
  -moz-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s
}
.pricing-table.pricing-2 .pricing-item:hover {
  background-color: #bad9fd
}
.pricing-table.pricing-2 .pricing-item-featured {
  position: relative
}
.pricing-table.pricing-2 .pricing-item-featured .ribbon {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right
}
.pricing-table.pricing-2 .pricing-item-featured .ribbon span {
  font-size: 10px;
  font-weight: 700;
  color: #FFF;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background-color: #1abe9e;
  box-shadow: 0 3px 10px -5px #000;
  position: absolute;
  top: 19px;
  right: -21px
}
.pricing-table.pricing-2 .pricing-item-featured .ribbon span:after,
.pricing-table.pricing-2 .pricing-item-featured .ribbon span:before {
  content: "";
  position: absolute;
  top: 100%;
  z-index: -1;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #2ae2bd
}
.pricing-table.pricing-2 .pricing-item-featured .ribbon span:before {
  left: 0;
  border-left: 3px solid #2ae2bd;
  border-right: 3px solid transparent
}
.pricing-table.pricing-2 .pricing-item-featured .ribbon span:after {
  right: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid #2ae2bd
}
.pricing-table.pricing-2 .pricing-title {
  font-size: 30px;
  font-weight: 300;
  padding: 15px 0 30px;
  margin: 0;
  position: relative
}
.pricing-table.pricing-2 .pricing-title:after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 40%;
  height: 1px;
  width: 20%;
  background-color: #FFF
}
.pricing-table.pricing-2 .pricing-sentence {
  padding: 30px 15px
}
.pricing-table.pricing-2 .pricing-price {
  font-size: 60px
}
.pricing-table.pricing-2 .pricing-currency {
  font-size: 24px;
  vertical-align: super
}
.pricing-table.pricing-2 .pricing-period {
  display: block;
  font-size: 14px;
  padding: 15px 30px
}
.pricing-table.pricing-2 .pricing-feature-list {
  text-align: left;
  padding: 30px 20px
}
.pricing-table.pricing-2 .pricing-feature-list>li {
  line-height: 1.8;
  font-size: 16px
}
.pricing-table.pricing-2 .pricing-feature-list>li:before {
  font-family: themify;
  content: "\e628";
  vertical-align: middle;
  display: inline-block;
  padding-right: 10px
}
.pricing-table.pricing-3 .pricing-item {
  padding: 30px 50px;
  border: 1px solid #17A88B;
  position: relative
}
@media (min-width: 769px) {
  .pricing-table.pricing-3 .pricing-item:nth-child(2) {
    border-left: none;
    border-right: none
  }
}
.pricing-table.pricing-3 .pricing-item:hover {
  z-index: 100
}
.pricing-table.pricing-3 .pricing-item:hover:after {
  content: "";
  pointer-events: none;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  border: 5px solid #17A88B
}
.pricing-table.pricing-3 .pricing-icon {
  color: #17A88B;
  font-size: 40px;
  padding: 10px 0;
  display: block
}
.pricing-table.pricing-3 .pricing-title {
  font-weight: 600;
  margin: 0;
  padding: 20px 0
}
.pricing-table.pricing-3 .pricing-price {
  font-size: 36px;
  font-weight: 600;
  color: #17A88B;
  margin: 0
}
.pricing-table.pricing-3 .pricing-currency {
  font-size: 20px;
  vertical-align: super
}
.pricing-table.pricing-3 .pricing-period {
  font-size: 14px;
  padding-left: 5px;
  font-weight: 400;
  color: #9a9a9a
}
.pricing-table.pricing-3 .pricing-feature-list {
  padding: 20px 0 80px
}
.pricing-table.pricing-3 .pricing-feature-list>li {
  line-height: 1.8;
  font-size: 16px
}
.chart-demo,
.loading-demo {
  border: 1px solid #e6e6e6;
  display: flex;
  margin-bottom: 24px
}
.bg-demo {
  color: #FFF;
  background: #F1F2B5;
  background: -webkit-linear-gradient(to left, #F1F2B5, #135058);
  background: linear-gradient(to left, #F1F2B5, #135058)
}
.loading-demo {
  height: 240px;
  align-items: center;
  justify-content: center
}
.icon-demo .row>[class^=col] {
  line-height: 50px;
  cursor: pointer;
  height: 50px
}
.icon-demo .row>[class^=col]:hover i {
  font-size: 30px
}
.icon-demo i {
  font-size: 20px;
  text-align: center;
  display: inline-block;
  width: 40px;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s
}