@import "colors";

.color-red {
  color:red;
}
.color-gray {
  color:gray;
}

.code-notes{
  width: 100%;
  width: -webkit-calc(100% - 30px);
  width: -moz-calc(100% - 30px);
  width: calc(100% - 30px);
  float: left;
}
i.lh-34{
  line-height: 34px;
  opacity: 0.7;
  &:hover{
    opacity: 1;
  }
}
ul.orders-status{
  padding-left: 0;
  list-style: none;
  margin-bottom: 25px;
  > li{
    display: inline-block;
    margin-right: 30px;
    > div{
      padding: 0 0 7px 0;
      border-bottom: 3px solid transparent;
      margin-bottom: 15px;
      .text-status{
        color: $text-color-main;
        text-transform: uppercase;
        font-weight: 600;
      }
      .label{
        font-size: 90%;
        padding: 1px 5px;
        margin-left: 5px;
      }
      &:hover, &:active, &.active{
        border-bottom: 3px #605CA8 solid;
        cursor: pointer;
        span.text-status{
          color: #3c3c91;
        }
      }
    }
    > div.disabled{
      cursor: not-allowed;
    }
  }
}
.opt-search-time{
  width: auto;
  margin-right: 5px;
}
.box-search-order{
  padding-top: 15px;
  margin-bottom: 15px;
  background: #FAFAFA;
}
.tbl-input-identity{
  width: 80px;
}
.tbl-info-order{
  background: #f9f9f9;
  position: relative;
  .hub-address{
    position: absolute;
    top: 0;
    right: 0;
    padding: 7px 10px;
    font-weight: 600;
  }
  table{
    thead{
      th{
        padding: 5px;
      }
    }
    tbody{
      tr{
        td, th{
          padding: 5px;
          vertical-align: initial;
        }
      }
    }
  }
}
.panel-task{
  background: #f9f9f9;
  table{
    thead{
      th{
        padding: 10px;
      }
    }
    tbody{
      tr{
        td{
          padding: 10px;
          border-top: 1px solid #ddd;
        }
      }
    }
  }
  .create-task{
    margin-top: 45px;
    @media all and (max-width: 480px) {
      margin-top: 0;
    }
  }
}

ul.other-orders{
  list-style: none;
  padding-left: 0;
  > li{
    > ul{
      padding-left: 5px;
      > li{
        position: relative;
        padding-left: 35px;
        line-height: 40px;
        white-space: nowrap;
        display: block;

        &:before{
          position: absolute;
          top: -20px;
          height: 40px;
          width: 1px;
          border-left: 1px dashed grey;
        }
        &:first-child:before{
          top: 0;
        }
        &:after{
          position: absolute;
          top: 20px;
          width: 20px;
          border-bottom: 1px dashed grey;
        }
        &:before, &:after{
          left: 0;
          content: "";
        }
      }
      > li.active{
        > span{
          > a{
            color: #032d3e!important;
            pointer-events: none;
          }
        }
      }
    }
  }
  > li.active{
    >span{
      > a{
        color: #032d3e!important;
        pointer-events: none;
      }
    }
  }
}
.edit-fee{
  > span{
    input{
      width: 80px;
      display: inline-block;
      padding: 6px 3px;
      outline: 0;
    }
  }

}
.info-pickup-address{
  font-size: 18px;
  margin-left: 15px;
  color: #032d3e;
  &:hover{
    text-decoration: none;
    cursor: pointer;
  }
}
.myinput{
  overflow: hidden;
  position: relative;
}
.myinput [type=file] {
  display: block;
  min-height: 100%;
  min-width: 100%;
  right: 0;

}
.myinput {
  > div:first-child{
    position: inherit!important;
  }
}

.myinput [type=file] {
  cursor: pointer;
}
.myinput [type=text] {
  cursor: pointer;
  z-index: inherit!important;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 18px;
  background: $color-purple;
  border: 1px solid $color-purple!important;
  color: #fff;
}
.pt-upload-file::-webkit-input-placeholder{
  color: #fff!important;
}
.pt-upload-file.form-control{
  height: 50px;
  font-size: 18px;
  margin-top: 20px;
}
.multi-print{
  &:hover, &:focus{
    text-decoration: none;
    color: #fff;
  }
}
.chat-items{
  padding: 10px 15px 10px 5px;
  &:last-child{
    padding-bottom: 15px;
  }
  .content-chat{
    float: left;
  }
}
.log-activity{
  padding: 0 15px 0 5px;
}
.avatar-chat{
  float: left;
  margin-right: 10px;
  img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}