.order-print{
  @media screen and (min-width: 768px) {
    width: 600px!important;
    margin: 0 auto;
  }
  @media print {
    width: 100%!important;
    margin: 0 auto;
  }
  table{
    tr{
      td, th{
        padding: 7px;
        border: 1px solid #000;
      }
    }
  }
}
.break-page{
  page-break-after: always;
}